 <!--footer-->
 <div class="footer-bg">
    <div class="row mt-5 py-5 no-gutters justify-content-center">
       <div class="col-sm-2 d-flex justify-content-center">
       <ul class="navbar-nav footer-txt   intro-sm-txt">
         <li class="nav-link" >quick links</li>
         <li><a class="nav-link" href="#meal_plans">meal plans</a></li>
         <li class="nav-item "><a class="nav-link" href="#about">About Us</a></li>
         <li class="nav-item "><a class="nav-link" routerLink="/my-meal-plan">My meal plan</a></li>
         <li class="nav-item "><a class="nav-link" routerLink="/freq-aq">faq's</a></li>
         <li class="nav-item d-lg-none d-xl-none"><a class="nav-link" routerLink="/reg-login">logIn/Register</a>
       </ul>
    </div>

    <div class="col-sm-3 d-flex justify-content-center">
        <ul class="navbar-nav footer-txt intro-sm-txt">
            <li  class="nav-link" >contact  us</li>
            <li class="nav-item sc-footer "> <a class="nav-link" > <i class="fa  fa-phone mr-2 ">
                 
                  </i> (+971) 526920873 </a></li>
            <li class="nav-item "><a class="nav-link" href="https://www.instagram.com/utritionlife.ae/?hl=en">
                <i class="fab fa-instagram mr-2"></i>Instagram  </a></li>
   

            </ul>
    </div>

    <div class="col-sm-2  d-flex justify-content-center">
        <ul class="navbar-nav footer-txt intro-sm-txt ">
            <li class="nav-link" >quick start </li>
            <li><a class="nav-link" href="#meal_plans">meal plans</a></li>
            <li *ngIf="user == undefined" >
                <a  routerLink="/reg-login" class="nav-link  btn login-button-2 px-1 stand-btn ">
                    <span  class="fa fa-sign-in  mr-2"></span>Login / register
                </a>
            </li>
            <li><a  routerLink="/contact-us" class="nav-link mt-2 btn login-button-2 px-1 stand-btn ">
                <span  class="fa fa-sign-in  mr-2"></span>request call back</a>
            </li>
        </ul>
    </div>

</div>
    </div>
        <!--//footer-->
       <!-- copyright -->
        <div class="cpy-right text-center py-3">
            <p class="white-txt footer-txt ">© 2020 U trition. All rights reserved.
            </p>
        </div>
        <!-- //copyright -->