<!--fans-->

<!--motive-p-->
<div class="row no-gutters justify-content-center">
    <div class="col-xl-8 col-lg-8 ">
        <div class=" text-center mt-5">
            <h1 id="meal_plans" class="main-title mb-2 green-txt">
                <span class="text-uppercase">success </span><span class="orange-txt text-uppercase">stories</span>
            </h1>

        </div>
    </div>
</div>



<div class="row py-5 no-gutters justify-content-center  desktopView">

    <div class="  col-md-4 padding-16 " >
        <div class="test1" type="button" data-toggle="modal" data-target="#exampleModalCenter"
        (click)="imgModal('../../assets/images/testmonial1.jpg')">
        </div>
    </div>

    <div class="  col-md-4 padding-16 " >
        <div class="test2" type="button" data-toggle="modal" data-target="#exampleModalCenter"
        (click)="imgModal('../../assets/images/testmonial2.jpg')"></div>
    </div>
    <div class="  col-md-4 padding-16" >
        <div class="test3" type="button" data-toggle="modal" data-target="#exampleModalCenter"
        (click)="imgModal('../../assets/images/testmonial3.jpg')"></div>
    </div>

</div>
<div class="row py-5 no-gutters justify-content-center  MobileView">

    <div class="  col-md-4 padding-16 " >
        <div class="test1" 
        >
        </div>
    </div>

    <div class="  col-md-4 padding-16 " >
        <div class="test2"></div>
    </div>
    <div class="  col-md-4 padding-16" >
        <div class="test3" ></div>
    </div>

</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-body">
                <div>
                    <img style="width:100%" [src]="imgSrc" alt="">
                </div>
            </div>

        </div>
    </div>
</div>