.test1{
    background-image: url('../../assets/images/testmonial1.jpg');
    height: 505px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.test2{
    background-image: url('../../assets/images/testmonial2.jpg');
    height: 505px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.test3{
    background-image: url('../../assets/images/testmonial3.jpg');
    height: 505px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.MobileView {
    display: none !important;
}
.orange{
    color:#ffb734;
}

.fontArrow{
    font-size: 28px;
}
.padding-16{
    padding: 16px;
}

@media only screen and (max-width: 600px) {
    
    .MobileView{
        display: block !important;
    }
    .desktopView{
        display: none;
    }

}    