<app-main-navbar class="fixed-position"></app-main-navbar>
<div class="row no-gutters">
    <div class="col-sm-12 ">
        <h1 class="main-title text-center  mb-4 green-txt">

            <span class="text-uppercase ">let's Evolve<span class="orange-txt secfont"> a Healthier version
                    </span> of you</span>
        </h1>
    </div>
    <div class="col-sm-12 ">
        <p class="text-center  ">
            Please fill your details in the form below, and we will be contacting you soon.
        </p>
    </div>
    <div class="stand-block">

    </div>
</div>
<div class="row no-gutters">
    <div class="col-sm-5">
        <h3 class=" text-center  my-4 green-txt">
            <span class="text-uppercase ">working hours
                </span>
        </h3>

        <h3 class=" text-center darkgray-txt  my-4 ">
            <span class="text-uppercase fs-25">9am - 8pm, Saturday to Thursday
                </span>
        </h3>

        <p class="text-center">Tel:(+971) 526920873</p>
        <p class="text-center">E-mail:info@utritionlife.com</p>

    </div>
    <div class="col-sm-6">
        <h3 class=" text-center  my-4 green-txt">
            <span class="text-uppercase ">contact form
                </span>
        </h3>
        <form (ngSubmit)="contactUs()" #objContactUs="ngForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstnameContact">first name</label>
                    <!-- <span class="red-txt">*</span> -->
                    <input type="text" class="form-control" ngModel id="firstnameContact" name="first_name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastnameContact">last name</label>
                    <!-- <span class="red-txt">*</span> -->
                    <input type="text" class="form-control" id="lastnameContact" ngModel name="last_name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="emailContact">e-mail</label>
                    <!-- <span class="red-txt">*</span> -->
                    <input type="email" class="form-control" id="emailContact" ngModel name="email" email required>
                </div>
                <div class="form-group col-md-6">
                    <label for="phoneContact">phone</label>
                    <!-- <span class="red-txt">*</span> -->
                    <input type="number" class="form-control" id="phoneContact" ngModel name="phone" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="messageContact" class="col-form-label">Message: </label>
                    <!-- <span class="red-txt" >*</span> -->
                    <textarea class="form-control" name="message" rows="5" ngModel id="messageContact" ></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group text-right col-md-12">
                    <button type="submit" class="btn  btn-on-car" [disabled]=!objContactUs.valid>

                            <div *ngIf="contactUsSpn == false">submit</div>

                            <div  class="text-center" *ngIf="contactUsSpn == true">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                        </button>
                </div>
            </div>


        </form>
    </div>
</div>
<app-footer></app-footer>