<app-sec-navbar></app-sec-navbar>
<!--questionnaire-->
<div class="questionnaire-bg">
    <div class="stand-block"></div>
    <div class="row no-gutters justify-content-center">
        <div class="col-sm-6">
            <form class="form-recover-bg" (ngSubmit)="userQuestionnaire()" #objQuestionnaire="ngForm">

                <div class="stand-block"></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="datebirthQuestionnaire">date of birth</label>
                        <!-- <span class="red-txt">*</span> -->
                        <input type="date" class="form-control" id="datebirthQuestionnaire"
                            ngModel name="datebirth" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="genderQuestionnaire">gender</label>
                        <!-- <span class="red-txt">*</span> -->
                        <select id="genderQuestionnaire" name="gender" ngModel class="form-control" required>
                            <option selected disabled>Choose...</option>
                            <option value="male">male</option>
                            <option value="female">female</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="weightQuestionnaire">weight (Kg):</label>
                        <!-- <span class="red-txt">*</span> -->
                        <input type="number" class="form-control" ngModel name="weight" id="weightQuestionnaire" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="heightQuestionnaire">height (Cm):</label>
                        <!-- <span class="red-txt">*</span> -->
                        <input type="number" class="form-control" ngModel name="height" id="heightQuestionnaire" required>
                    </div>
                </div>
                <div class="form-row">
                    <!-- <div class="form-group col-md-6">
                        <label for="percenatgebodyfatQuestionnaire">Percenatge body Fat :</label>
                        <input type="number" class="form-control" name="percenatgebodyfat" class="red-txt"
                            id="percenatgebodyfatQuestionnaire" ngModel required>
                    </div> -->
                    <div class="form-group col-md-6">
                        <label for="targetweightQuestionnaire">target weight (Kg):</label>
                        <!-- <span class="red-txt">*</span> -->
                        <input type="number" class="form-control red-txt" name="targetweight" 
                            id="targetweightQuestionnaire" ngModel required>
                    </div>
                </div>
                <div class="form-row">
                    <!-- <div class="form-group col-md-6">
                        <label for="mobileQuestionnaire">mobile</label>
                        <input type="tel" class="form-control" ngModel name="mobile" id="mobileQuestionnaire" required>
                    </div> -->
                    <!-- <div class="form-group col-md-6">
                        <label for="emailQuestionnaire">e-mail</label>
                        <input type="email" class="form-control" ngModel email name="email" id="emailQuestionnaire" required>
                    </div> -->
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="clubQuestionnaire">club</label>
                        <!-- <span class="red-txt">*</span> -->
                        <input type="text" class="form-control" ngModel name="club" id="clubQuestionnaire" required>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 checkboxex-style">
                        <label>Do you have any medical condition:</label><br>
                        <input class="form-check-input" type="checkbox" ngModel id="medical1" name="Diabetes">
                        <label for="medical1">Diabetes </label><br>
                        <input class="form-check-input" type="checkbox" ngModel id="medical2" name="BloodPressure">
                        <label for="medical2">Blood Pressure (hyper or Hypo)
                        </label><br>
                        <input class="form-check-input" type="checkbox" ngModel id="medical3" name="Thyroid">
                        <label for="medical3">Thyroid (hyper or hypo)
                        </label><br>
                        <input class="form-check-input" type="checkbox" ngModel id="medical4" name="heart">
                        <label for="medical4">Heart problems
                        </label><br>
                        <input class="form-check-input" type="checkbox" ngModel id="medical5" name="Anemia">
                        <label for="medical5">Anemia
                        </label><br>
                        <input class="form-check-input" type="checkbox" ngModel id="medical6" name="Gastrointestinal">
                        <label for="medical6">Gastrointestinal Problems
                        </label><br>

                        <!-- <input class="form-check-input" type="checkbox" ngModel id="medical7" name="none">
                        <label for="medical7">None

                        </label><br> -->
                        <label for="medical7">other,please specify

                        </label>
                        <input type="text" class="form-control" ngModel name="otherCondition">

                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 checkboxex-style">
                        <label>Do you have any food Allergy:</label><br>
                        <input class="form-check-input" ngModel type="checkbox" id="allergy1" name="eggs">
                        <label for="allergy1">eggs</label><br>
                        <input class="form-check-input" ngModel type="checkbox" id="allergy2" name="Dairy">

                        <label for="allergy2">Dairy
                        </label><br>
                        <input class="form-check-input" ngModel type="checkbox" id="allergy3" name="Gluten">

                        <label for="allergy3">Gluten
                        </label><br>
                        <input class="form-check-input" ngModel type="checkbox" id="allergy4" name="nuts">

                        <label for="allergy4">nuts
                        </label><br>
                        <input class="form-check-input" ngModel type="checkbox" id="allergy5" name="fish">

                        <label for="allergy5">fish
                        </label><br>
                        <input class="form-check-input" ngModel type="checkbox" id="allergy6" name="Seashell">
                        <label for="allergy6">Seashell

                        </label><br>
                        <input class="form-check-input" ngModel type="checkbox" id="allergy7" name="none">
                        <label for="allergy7">None

                        </label><br>

                        <label for="allergy7">other,please specify

                        </label>
                        <input type="text" ngModel class="form-control" name="otherAllergy">

                    </div>

                </div>
                <!-- <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dislikesQuestionnaire" class="col-form-label">dislikes:
                        </label>
                        <textarea class="form-control" ngModel name="message" rows="5" id="dislikesQuestionnaire"></textarea>
                    </div>
                </div> -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="doctoradviseQuestionnaire" class="col-form-label">Did the doctor advice you
                            to follow any kind of diet?
                            Please specify what diet and why:
                        </label>
                        <textarea class="form-control" ngModel name="message" rows="5"
                            id="doctoradviseQuestionnaire"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" ngModel name="agreeTermsofService" type="checkbox" id="gridCheck"
                            required>
                        <label class="form-check-label text-capitalize" for="gridCheck">
                            i have read and agree to the terms of service.
                        </label>
                        <!-- <span class="red-txt">*</span> -->
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]=!objQuestionnaire.valid>

                    <div *ngIf = "questionnaireSpn == false" >send</div>

                    <div class="text-center" *ngIf = "questionnaireSpn == true">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </button>
            </form>
        </div>
    </div>
    <!--//questionnaire-->

    <app-footer></app-footer>