<form>  
  <div class="row justify-content-center mx-0"> 
    <div class="spin-wrap green-txt" *ngIf = "renewPlanSpn == true" >
        <div class="spinner-border " role="status">
        </div>
        <span class="pl-3">
            <h3>Loading...</h3>
        </span>
    </div>
    <div class="col-sm-6" *ngIf = "renewPlanSpn == false">
      <label for="plan-select">choose your plan</label>

      <select id="plan-select" name="plan" class="form-control" [(ngModel)] ="planDetails"  required>

        <option selected disabled value="undefined">select plan</option>
        <option *ngFor="let plan of arrPlan" value="{{ plan | json }}" name="plan">{{ plan.name }}</option>
      
      </select>

    </div>
  </div>
  <div class="row justify-content-center mx-0" *ngIf = "renewPlanSpn == false">  
    <div class="col-sm-6 d-flex justify-content-center">
      <button type="submit" class="btn my-4 stand-btn" (click) = "renewPlan()" [disabled]="planDetails == undefined">Renew</button>
    </div>
  </div>
</form>
  