
  <!--spinner-->
  <div class="row py-5 no-gutters justify-content-center " *ngIf="showLoadingSpinForSbMenu == true">

    <div class="spin-wrap green-txt">
      <div class="spinner-border " role="status">
      </div>
      <span class="pl-3">
        <h3>Loading...</h3>
      </span>
    </div>
  </div>
  <!--message no menu to submit-->
  <div class="row  no-gutters justify-content-center" *ngIf = "arrSubmitPlan == undefined && showLoadingSpinForSbMenu == false">
    <b>Hello there is no menu to submit</b> <i class="fas fa-comment-slash no-menu"></i>
  </div>

<form action="" (ngSubmit)="submit()" #objSubmitMenu="ngForm" *ngIf = "arrSubmitPlan != undefined">
   <!--save btn-->
   <div class="row no-gutters justify-content-center" *ngIf="showLoadingSpinForSbMenu == false">
    <div class="col-sm-9 text-right">
      <button type="submit" class="btn shadow text-capitalize" [disabled]=!objSubmitMenu.valid>
  
        <div *ngIf="saveMenuSpn == true" class="spinner-border " role="status">
          <span class="sr-only">Loading...</span>
        </div>
  
        <span *ngIf="saveMenuSpn == false" >save</span>
  
      </button>
    </div>
  </div>

  <div class="row mt-2 no-gutters justify-content-center"  >
    <div class="col-sm-9">
      <ul class="nav nav-tabs" style="border-bottom:0px">
        <li class="nav-item" *ngFor="let obj of arrSubmitPlan| keyvalue;first as isFirst">
          <a class="nav-link" data-toggle="tab" href="#{{obj.key}}" [ngClass]="{'active':isFirst}">
            {{obj.key}}
          </a>
        </li>
      </ul>
    </div>
  </div>
 
  <div class="row mt-5 no-gutters justify-content-center">
    <div class="col-sm-9" >
      <div class="tab-content" >

        <div id="{{obj.key}}" *ngFor="let obj of arrSubmitPlan | keyvalue;first as isFirst" class="tab-pane fade " [ngClass]="{'active  show ':isFirst}"  role="tabpanel" aria-labelledby="home-tab-submit">
          <ngb-accordion #acc="ngbAccordion" *ngFor="let test of obj.value; index as x" activeIds="ngb-panel-0">
            <ngb-panel title={{test.day}}>
              <ng-template ngbPanelContent>

                  <div class="row">

                    <div class="col-sm-6">
                      <label class="orange-txt">BreakFast:</label>
                    
                      <div class="form-check" *ngFor = "let choice of test.arrMeal.breakfast; index as i">
                        <input class="form-check-input" type="radio" name="breakfast{{x}} {{obj.key}}"
                          value="{{test.arrMeal.breakfast[i]}}+{{test.day}}+{{test.date}}" checked required ngModel>
                        <label class="form-check-label" for="firstchoice">
                          {{test.arrMeal.breakfast[i]}}
                        </label>
                      </div>

                    </div>

                    <div class="col-sm-6">
                      <label class="orange-txt">lunch:</label>

                      <div class="form-check"  *ngFor = "let choice of test.arrMeal.lunch; index as i">
                        <input class="form-check-input" type="radio" name="lunch{{x}} {{obj.key}}"
                          value=" {{test.arrMeal.lunch[i]}}" checked required ngModel>
                        <label class="form-check-label" for="lunchsunday1">
                          {{test.arrMeal.lunch[i]}}
                        </label>
                      </div>

                    </div>
                    <div class="col-sm-6">
                      <label class="orange-txt">snack:</label>

                      <div class="form-check" *ngFor = "let choice of test.arrMeal.snack; index as i">
                        <input class="form-check-input" type="radio" name="snack{{x}} {{obj.key}}"
                          value="{{test.arrMeal.snack[i]}}" checked required ngModel>
                        <label class="form-check-label" for="snacksunday1">
                          {{test.arrMeal.snack[i]}}
                        </label>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <label class="orange-txt">dinner:</label>

                      <div class="form-check" *ngFor = "let choice of test.arrMeal.dinner; index as i">
                        <input class="form-check-input" type="radio" name="dinner{{x}} {{obj.key}}"
                          value="{{test.arrMeal.dinner[i]}}" checked required ngModel>
                        <label class="form-check-label" for="dinnersunday1">
                          {{test.arrMeal.dinner[i]}}
                        </label>
                      </div>

                    </div>

                  </div>
               
              </ng-template>
            </ngb-panel>

          </ngb-accordion>
        </div>

      </div>
    </div>
  </div>
</form>