<!--spinner-->
<div class="row py-5 no-gutters justify-content-center" *ngIf="showLoadingSpinForSbMenu == true">
  <div class="spin-wrap green-txt">
    <div class="spinner-border " role="status">
    </div>
    <span class="pl-3">
      <h3>Loading...</h3>
    </span>
  </div>
</div>
<!--//spinner-->
<!--old content
<div class="row mt-2 no-gutters justify-content-center" *ngIf="freezePlan == null">
  <div class="col-sm-9">


    <nav>
      <div class="nav nav-tabs" id="nav-tabweeks" role="tablist" style="border-bottom:0px">
        <a class="nav-item nav-link week-item " id="nav-weekone-tab" data-toggle="tab"
          *ngFor="let objWeek of arrMenuUser; let i = index" ng-class="{active: $index == 0}" href="#key" role="tab"
          aria-controls="nav-weekone" aria-selected="true"> {{index}}</a>

      </div>
    </nav>
  </div>
</div>-->
<div *ngIf="showLoadingSpinForSbMenu == false" class="row mt-5 no-gutters justify-content-center">
  <div class="col-sm-9">
 

      <!--week 1-->
   

      <div class="row  no-gutters justify-content-center" *ngIf="arrMenuUser == undefined && freezePlan == null">
        <b>Hello there is no menu to view</b> <i class="fas fa-comment-slash no-menu"></i>
      </div>
      <div class="row  no-gutters justify-content-center" *ngIf="freezePlan != null">
        <b>Hello you freeze your plan</b> <i class="fas fa-comment-slash no-menu"></i>
      </div>
      <div *ngIf="freezePlan == null" class="tab-pane fade show " id="key1" role="tabpanel"
        aria-labelledby="nav-weekone-tab">
        <div>
          <!-- =" objWeek of arrMenuUser" ng-class="{active: $index == 0}" -->

        </div>
      </div>

  
  </div>
</div>
<!--//old content-->
<div class="row mt-5 no-gutters justify-content-center">

   <!--modal freeze-->
      <!-- Button trigger modal -->

 


  <div class="col-sm-7" *ngIf="freezePlan == null">
    <ul class="nav nav-tabs" style="border-bottom:0px">
      <li class="nav-item" *ngFor="let obj of arrMenuUser| keyvalue;first as isFirst">
        <a href="#{{obj.key}}" class="nav-link " [ngClass]="{'active':isFirst}" data-toggle="tab">{{obj.key}}</a>
      </li>
    </ul>
  </div>
   <!--//modal freeze-->
  <div *ngIf="freezePlan == null && planAssLength != 0" class="col-sm-1">


    <button *ngIf="showLoadingSpinForSbMenu == false" type="button" class="btn shadow freeze-btn text-capitalize " data-toggle="modal" data-target="#freezeModal">
      Freeze
    </button>

    <!-- freeze form-->
    <div class="modal fade" id="freezeModal" tabindex="-1" role="dialog" aria-labelledby="freezeModalTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title " id="ModalLongTitle">freeze your plan</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form method="post" (ngSubmit)="freezingPlan()" #objFreezePlan="ngForm">

              <div class="row justify-content-center my-4 mx-0">

                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="startfreezemodal">from</label>
                    <input type="date" name="from" ngModel min="{{minDate}}" max="{{maxDate}}" required>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="endfreezemodal">to</label>
                    <input type="date" name="to" ngModel min="{{minDate}}" max="{{maxDate}}" required>
                  </div>
                </div>

              </div>

              <div class="row justify-content-center mx-0">

                <button type="submit" class="btn btn-primary" [disabled]=!objFreezePlan.valid>

                  <div *ngIf="freezeSpn == false">Freeze</div>

                  <div *ngIf="freezeSpn == true" class="text-center">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>

                </button>

              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
   



  </div>
</div>
<div *ngIf="freezePlan == null" class="row mt-5 no-gutters justify-content-center">
  <div class="col-sm-9">
    <div class="tab-content ">
      <div id="{{obj.key}}" class="tab-pane fade  " *ngFor="let obj of arrMenuUser| keyvalue;first as isFirst"
        [ngClass]="{'active  show ':isFirst}">

        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" *ngFor="let test of obj.value;first as isFirstacco">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span class="text-capitalize">{{test.day}}</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <p>
                <span class="orange-txt"> Breakfast </span>: {{test.breakfast}}<br>
                <span class="orange-txt"> Lunch </span>: {{test.lunch}}<br>
                <span class="orange-txt"> Snack </span>: {{test.snack}}<br>
                <span class="orange-txt"> Dinner </span>: {{test.dinner}}

              </p>
            </ng-template>
          </ngb-panel>

        </ngb-accordion>
      </div>
    </div>
  </div>
</div>