<!-- top-header -->

<nav id="home" class="navbar nav-txt-style hide-md navbar-expand-lg navbar-light header-bg">
    <span class=" navbar-text "><i class="fa orange-txt fa-map-marker mr-2"></i>UAE</span>
    <span class="navbar-text ml-3"><i class="fa orange-txt fa-phone mr-2 "></i> (+971) 526920873</span>
    <span class="navbar-text ml-3"><i class="orange-txt fas fa-envelope"></i> info@utritionlife.com</span>
    <br>
    <div class="social">
        <!-- <i class="icon fab fa-facebook"></i> -->
        <!-- <i class="icon fab fa-twitter"></i> -->
        <a target="_blank" href="https://www.instagram.com/utritionlife.ae/?hl=en">
        <i class="icon fab fa-instagram"></i></a>
    </div>
    <div class="fb-customerchat" page_id="543704609440286"></div>
    <div class="ml-auto" id="navbarText">
        <a *ngIf="user == undefined" routerLink="/reg-login" class="  btn login-button-2 stand-btn mr-3 text-uppercase">
            <span class="fa fa-sign-in  mr-2"></span>Login / register
        </a>
        <ul class="navbar-nav mr-auto" *ngIf="user != undefined">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-text text-capitalize mr-2">
                        <span>
                            <i class="fas fa-user mr-1"></i>
                        </span> Hello, {{ user.name }}
                    </span>
                </a>
                <div class="dropdown-menu w-100 text-center" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/profile">My Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()"><span >logout</span></a>
                </div>

            </li>
        </ul>

    </div>
</nav>
<!-- //top-header -->

<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light nav-bg">
    <a class="navbar-brand" routerLink="">
        <img src="assets/images/logo_crop.jpg" alt="utrition logo" class="nav-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto  mt-2 mt-lg-0">
            <li class="nav-item  "><a class="nav-link" (click)="navigateToMealplan()">meal plans</a></li>
            <li class="nav-item "><a class="nav-link" (click)="about()">About Us</a></li>
            <li class="nav-item " *ngIf="user != undefined"><a class="nav-link" routerLink="/my-meal-plan" routerLinkActive="active">my meal plan</a>
            </li>
            <li class="nav-item "><a class="nav-link" routerLink="/gallery" routerLinkActive="active">gallery</a></li>
            <li class="nav-item "><a class="nav-link" routerLink="/freq-aq" routerLinkActive="active">faq's</a></li>
            <li class="nav-item "><a class="nav-link" routerLink="/contact-us" routerLinkActive="active">contact us</a></li>
            <li class="nav-item d-lg-none d-xl-none"><a class="nav-link" routerLink="/reg-login">logIn/Register</a>
            </li>
        </ul>
    </div>
</nav>
<!--//navbar-->