.social {
    margin: 0px 10px;
    width: 203px;
    .icon {
        margin: 0px 2px;
        font-size: 27px;
        width: 20% !important;
        cursor: pointer;
        height: 36px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: inline-flex;
    }
    .fa-facebook {
        color: #2e89ff;
    }
    .fa-twitter {
        color: #1da1f2;
        line-height: 48px;
    }
    .fa-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: white;
    }
    .fa-instagram:hover {
        transition: 0.25s ease-in-out;
        font-size: 30px;
        filter: drop-shadow(0px 0px 10px #d6249f);
    }
    .fa-twitter:hover {
        transition: 0.25s ease-in-out;
        font-size: 30px;
        filter: drop-shadow(0px 0px 10px #1da1f2);
    }
    .fa-facebook:hover {
        transition: 0.25s ease-in-out;
        font-size: 30px;
        filter: drop-shadow(0px 0px 10px #2e89ff);
    }
}