.wrap-del-fresh {
    margin-left: 4%;
}
.fab,
.fas {
    color: #7eb004;
    font-size: 16px;
    margin-right: 2%;
}
/* .know-ur-body{
    height: 230px;
    max-height: 500px;
    width: 45%;
    background-image: url('../../assets/images/394960-PCH23B-421-sm.jpg');
} */


.MobileView {
    display: none;
}
.ethics-title {
    max-height: 300px;
    height: auto;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .ethics-title{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .MobileView{
        display: block !important;
    }
    .desktopView{
        display: none;
    }
    .display-unset {
        display: unset !important;
    }
    .textwidth {
        width: 100% !important;
        margin: 0px !important;
        padding: 35px !important;
    }
    .image {
        width: 100%;
        height: 100%;
        padding: 7px;
    }
    .desktopView {
        display: none !important;
    }
}
.mr-b-40{
    margin-bottom: 40px;
}
.goldsButtonDiv{
    height: 73%;
    width: 86%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.goldsButton{
    border: none;
    background-color: #f9e428;
    font-weight: bold;
    padding: 6px 21px;
    border-radius: 22px;
}

.iconSelect{
    text-align: center;
    width: 100%;
    font-size: 103px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 570px) {
    .goldsButtonDiv{
        height: 72%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}
.p-11{
    padding: 11px;
}