<!--nw carousel -->
<div id="carouselExampleIndicators" class="carousel slide carousel-fade " data-ride="carousel">
    <ol class="carousel-indicators intro-car-indicator">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner " id="home">

        <div class="carousel-item car-item-style car-1-slide-bg active ">

            <div class="overlay-on-img abs">

                <p class="topText white-txt animate__animated animate__fadeInUp">Wide Variety of Meals and Snacks.
                </p>
                <a href="#meal_plans">
                    <button type="button" class="btn mt-5 white-txt top-btn btn-on-car">Select your Plan<span
                            class="fa fa-caret-right ml-1" aria-hidden="true"></span></button>
                </a>
            </div>

        </div>
        <div class="carousel-item car-item-style  car-2-slide-bg">

            <div class="overlay-on-img-sec abs">

                <p class="topText  white-txt animate__animated animate__fadeInUp">Fresh and Organic.</p>
                <a href="#meal_plans">
                    <button type="button" class="btn mt-5 white-txt top-btn btn-on-car">Select your Plan<span
                            class="fa fa-caret-right ml-1" aria-hidden="true"></span></button>
                </a>
            </div>

        </div>
        <div class="carousel-item car-item-style  car-3-slide-bg">

            <div class="overlay-on-img-third abs">

                <p class="topText white-txt animate__animated animate__fadeInUp">Delivered with Health & Safety at Heart.
                </p>
                <a href="#meal_plans">
                    <button type="button" class="btn mt-5 white-txt top-btn btn-on-car">Select your Plan<span
                            class="fa fa-caret-right ml-1" aria-hidden="true"></span></button>
                </a>
            </div>
        </div>
        <div class="carousel-item car-item-style  car-33-slide-bg">

            <div class="overlay-on-img-third abs">

                <p class="topText white-txt animate__animated animate__fadeInUp">Personal training & organic meal plans.
                </p>
                <a href="#meal_plans">
                    
                    <!-- <button class="goldsButton" (click)="opensignup()">Signup</button> -->
                    <button type="button" class="btn mt-5 white-txt top-btn btn-on-car1" (click)="opensignup()">Signup<span
                        class="fa fa-caret-right ml-1" aria-hidden="true"></span></button>
                    
                    
                </a>
            </div>
        </div>
        <!-- <div class="carousel-item car-item-style  car-4-slide-bg">
             <img src="../../assets/images/____golds_text.png" alt=""> 
            <div class="goldsButtonDiv">
                <button class="goldsButton" (click)="opensignup()">Signup</button>
            </div>

        </div> -->
        <div class="carousel-item car-item-style  car-5-slide-bg">

            <div class="overlay-on-img-third abs">

                    <!-- <p class="topText white-txt animate__animated animate__fadeInUp">Delivered with Health & Safety at
                        Heart.
                    </p> -->
                <a href="#meal_plans">
                    <button type="button" class="btn mt-5 white-txt top-btn btn-on-car">Select your Plan<span
                            class="fa fa-caret-right ml-1" aria-hidden="true"></span></button>
                </a>
            </div>
        </div>
    </div>

</div>
<!--//nw carousel-->

<!--about-->
<div class="row no-gutters  my-5 justify-content-center" id="about">
    <div class="col-xl-2 col-lg-2 justify-content-center">

        <div class="mr-3 ">
            <img alt="our ethics" src="assets/images/new-ethos-veg.png" class="ethics-title  mr-b-40">

        </div>
    </div>
    <div class="col-xl-6 col-lg-6  ">
        <p class="px-2">At Utrition, we are here to support the goals of our clients, to accompany them on their journey to success in keeping the balance between training, nutrition, and achieving a healthy lifestyle . Our meal plans are designed to suit everyone based on their Goal, Requirements, Medical History, and Allergies. Utrition is the right choice  to enhances your training program seamlessly, whether it is our accuracy on your required macronutrients, reducing inflammation or support your muscle recuperation. After assessing your body analysis, our nutritionist together with our master chef will design a complete individualized meal plan just for you to indulge in and meet your wellness goals. Setting your goals is a good start , however achieving your goals is the true win.
        </p>

    </div>
</div>

<!--//about-->
<!--fresh -->
<div class=" bg-fresh car-item-style">
    <div class="fresh-bg">
        <div class="row justify-content-center no-gutters py-5">
            <div class="car-item-style w-100">
                <img src="assets/images/plate-only-sm.png" class="rotating plate-rot-img" alt="plate">

                <div class="col-xl-12 col-lg-12  ">
                    <div class=" text-center ">
                        <h1 class="main-title mb-2 green-txt">
                            <span class="text-uppercase "> fresh organic</span> <span class="orange-txt secfont">
                            </span><span class="text-uppercase orange-txt "> delivered</span>
                        </h1>
                    </div>
                </div>

                <div class="text-center col-sm-12">
                    <div class="wrap-del-fresh    mt-4">
                        <div class="ser-wrap">
                            <h4 class="mb-2  ds-block "><i class="fab fa-envira"></i><strong class="green-txt mr-1">Freshly</strong></h4>
                            <p class="white-txt text-19-b"> sourced ingredients cooked by our top executive chef ​
                            </p>
                        </div>
                        <div class="ser-wrap">
                            <h4 class="mb-2  ds-block "><i class="fab fa-envira"></i><strong class="green-txt mr-1">Organic</strong></h4>
                            <p class="white-txt text-19-b"> sourcing, Macro-Balanced, Low-Carb and vegan options.
                            </p>
                        </div>
                        <div class="ser-wrap">
                            <h4 class="mb-2  ds-block"><i class="fas fa-truck"></i><strong class="green-txt mr-1">Delivered</strong></h4>
                            <p class="white-txt text-19-b"> to your doorstep daily with your health and safety at heart.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--//fresh-->

<!--works -->

<div class="row justify-content-center no-gutters">
    <div class="col-xl-8 col-lg-8 ">
        <div class=" text-center my-5">
            <h1 class="main-title mb-2 green-txt ">
                <span class="text-uppercase">how it</span> <span class="orange-txt text-uppercase"> works </span>
            </h1>
        </div>
    </div>
</div>
<!--works test-->
<div class="row  no-gutters justify-content-center desktopView">
 


    <div class="col-sm-6 ">
        <div class="text-center  mt-4">
            <div class="wrap-stylecard  mb-4 display-unset">
                <img data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="works-img image" src="assets/images/394960-PCH23B-421-sm.jpg" alt="know your body">
                <div data-aos="fade" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="style-cardbody ml-3 my-auto textwidth">
                    <h4 class="mb-3"><i class="fab fa-envira"></i><strong class="green-txt ">Know your body</strong>
                    </h4>
                    <p class="mb-3 text-19-b">Our Life Fitness Specialist will assist you to understand your body type with our Body Composition Analysis. This will enable our Dietitian to insure you will select the right plan and help manage your progress.
                    </p>
                </div>
            </div>
            <div class="wrap-stylecard mb-4 display-unset">

                <div data-aos="fade" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="style-cardbody ml-3  textwidth">
                    <h5 class="mb-3"><i class="fab fa-envira"></i><strong class="green-txt ">Select your
                            plan</strong>
                    </h5>
                    <p class="mb-3 text-19-b">Our Specialists will recommend the meal plan as per your calorie
                        and macronutrients
                        requirements, Food dislikes/allergies and your special instructions.
                    </p>

                </div>
                <img data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="works-img image" src="assets/images/526321-PIYHQ6-734-sm.jpg" alt="know your body">
            </div>
            <div class="wrap-stylecard mb-4 display-unset">
                <img data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="works-img image" src="assets/images/27980-sm.jpg" alt="know your body">
                <div data-aos="fade" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="style-cardbody ml-3  textwidth">
                    <h5 class="mb-3"><i class="fab fa-envira"></i><strong class="green-txt ">Enjoy your
                            results</strong>
                    </h5>
                    <p class="mb-3 text-19-b">We only use the freshest, highest quality ingredients cooked by our
                        top executive chef.<br /> You will receive
                        constant support throughout the entire period of the plan from your designated Utrition
                        account
                        manager.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="row  no-gutters justify-content-center MobileView">
    <div class="col-sm-6 ">
        <div class="text-center  mt-4">
            <div class="wrap-stylecard  mb-4 display-unset">
                <img data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="works-img image" src="assets/images/394960-PCH23B-421-sm.jpg" alt="know your body">
                <div data-aos="fade" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="style-cardbody ml-3 my-auto textwidth">
                    <h4 class="mb-3"><i class="fab fa-envira"></i><strong class="green-txt ">Know your body</strong>
                    </h4>
                    <p class="mb-3 text-19-b">Our Life Fitness Specialist will assist you to understand your body type
                        with our Body Composition Analysis. This will enable our Dietitian to insure you will select the
                        right plan and help manage your progress.
                    </p>
                </div>
            </div>
            <div class="wrap-stylecard mb-4 display-unset">
                <img data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="works-img image" src="assets/images/526321-PIYHQ6-734-sm.jpg" alt="know your body">
                <div data-aos="fade" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="style-cardbody ml-3  textwidth">
                    <h5 class="mb-3"><i class="fab fa-envira"></i><strong class="green-txt ">Select your
                            plan</strong>
                    </h5>
                    <p class="mb-3 text-19-b">Our Specialists will recommend the meal plan as per your calorie
                        and macronutrients
                        requirements, Food dislikes/allergies and your special instructions.
                    </p>

                </div>

            </div>
            <div class="wrap-stylecard mb-4 display-unset">
                <img data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="works-img image" src="assets/images/27980-sm.jpg" alt="know your body">
                <div data-aos="fade" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-offset="200"
                    class="style-cardbody ml-3  textwidth">
                    <h5 class="mb-3"><i class="fab fa-envira"></i><strong class="green-txt ">Enjoy your
                            results</strong>
                    </h5>
                    <p class="mb-3 text-19-b">We only use the freshest, highest quality ingredients cooked by our
                        top executive chef.<br /> You will receive
                        constant support throughout the entire period of the plan from your designated Utrition
                        account
                        manager.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<!--//works test-->