<ngx-spinner></ngx-spinner>
<app-main-navbar class="fixed-position"></app-main-navbar>
<!-- banner -->
<div class="bg-banner" style="background-image:url({{plan.banner_img}})">
    <!--<div class="bg-banner">-->
    <div class="row ">


        <div class="banner-2-overlay">
            <p class="banner-2-txt green-txt">{{ plan.name }}</p>
            <a *ngIf="user != undefined">
                <!-- routerLink="/check-out" -->
                <button type="button" (click)="checkOut()" class="btn  white-txt top-btn mt-4 btn-on-car">Buy
                    Now<span class="fa fa-caret-right ml-1" aria-hidden="true"></span></button>

            </a>
            <a *ngIf="user == undefined">
                <!-- routerLink="/reg-login" -->
                <button type="button" routerLink="/reg-login" class="btn  white-txt top-btn mt-4 btn-on-car">login to
                    buy a plan<span class="fa fa-caret-right ml-1" aria-hidden="true"></span></button>
            </a>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- page details -->
<div class="row no-gutters">
    <div class="px-0 col-sm-12">
        <div class="breadcrumb-agile bg-light py-2">
            <ol class="breadcrumb bg-light m-0">
                <li class="breadcrumb-item">
                    <a routerLink="">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">plan_detail</li>
            </ol>
        </div>
    </div>
</div>

<!-- //page details -->
<div class="stand-block" id="topblock">

</div>
<!-- plan_detail -->
<div class="row no-gutters justify-content-center ">
    <div class="col-sm-3">
        <div class="index-main-p pl-3 ">
            <h5 class="green-txt mb-4 text-capitalize"><span>{{ plan.name }}</span></h5>
          
                <br>

            <div class="card" style="width: 18rem;">
                <div class="card-body padding-top-0">
                    <p class="card-subtitle my-2">Three meals + 1 snack</p>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <h3 class="orange-txt">{{additionSingledetails.three_meal.days}} <sub class="green-txt"> Days</sub>
                    </h3>
                    <h3 class="orange-txt">{{additionSingledetails.three_meal.meal_price}} <sub class="green-txt"> AED</sub>
                    </h3>
                </div>
            </div>
            <br>
            <div class="card" style="width: 18rem;" *ngIf="!(plan_id == '5') " >
                <div class="card-body padding-top-0">
                    <p class="card-subtitle my-2">Two meals + 1 snack</p>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                    <h3 class="orange-txt">{{additionSingledetails.tow_meals.days}} <sub class="green-txt"> Days</sub>
                    </h3>
                    <h3 class="orange-txt">{{additionSingledetails.tow_meals.mealprice}} <sub class="green-txt"> AED</sub>
                    </h3>
                </div>
            </div>


            <p class="my-2">{{ plan.short_desc }}</p>

            <!--modal-->
            <!-- Button trigger modal -->
            <button *ngIf="plan.menu_sample != '' " type="button" class="btn btn-primary mt-3" data-toggle="modal"
                data-target="#exampleModal">
                Menu Sample
            </button>

            <!-- Modal -->
            <div class="modal  fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-style-plan-det mx-auto" role="document">
                    <div class="modal-content  modal-content-style-plan-det ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ plan.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ plan.menu_sample }}" class="img-responsive img-modal-menu" alt="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--//modal-->

        </div>
    </div>

    <div class="col-sm-4  ">
        <div class="pl-3">
            <h5 class="green-txt mb-4 text-capitalize">{{ plan.name }}</h5>
            <p> {{ plan.long_desc }}</p>

        </div>


    </div>

    <div class="col-sm-4">
        <div class="index-main-p side-overlay   pl-xl-3">
            <h5 class="green-txt mb-4 text-capitalize">Why you need to<span class="secfont orange-txt">
                    follow</span> this Diet
            </h5>

            <ul class="darkgray-txt">
                <div class="side-bg-new">
                    <li *ngFor="let item of plan.long_feature">{{ item }}</li>
                </div>
            </ul>
        </div>
    </div>
</div>

<div class="row no-gutters" *ngIf="plan.name == 'Lean Gluten Free'">
    <div class="col-sm-4 offset-sm-3">
        <!--table of gluten free-->
        <div class="tbl-bg table-responsive">
            <table class="table table-border  darkgray-txt my-3">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Gluten Allergy</th>
                        <th scope="col">Gluten Intolerance </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Description</th>
                        <td>A genetic, autoimmune disorder, which causes damage to the small intestine when gluten is
                            ingested. </td>
                        <td>Gluten intolerance feels uncomfortable without causing damage to the small intestine. </td>

                    </tr>
                    <tr>
                        <th scope="row">Gastrointestinal Symptoms </th>
                        <td>Diarrhea, bloating and abdominal pain</td>
                        <td>Diarrhea, constipation, bloating and abdominal pain.</td>

                    </tr>
                    <tr>
                        <th scope="row">General Symptoms</th>
                        <td>weight loss, joints and bond pain, numbness in legs and hands, mouth ulcers, tooth enamel
                            loss, and hair loss</td>
                        <td>Headache, low energy, skin problems, depression, mood swings, difficulty to lose weight,
                            brain for, Hyperactivity (kids).</td>

                    </tr>
                    <tr>
                        <th scope="row">Clinical findings </th>
                        <td>Deficiencies of : Iron, Vitamin D, calcium, B12, Zinc, and copper.
                            <hr>Positive antibodies Test especially Immunoglobulin E (IgE)
                        </td>
                        <td>If it goes untreated in the long term, it may cause deficiencies in iron, Vitamin D, Zn, and
                            B12</td>

                    </tr>
                    <tr>
                        <th scope="row">Abnormal intestine Biopsy </th>
                        <td>Yes.</td>
                        <td>No.</td>

                    </tr>
                    <tr>
                        <th scope="row">Treatment </th>
                        <td>Strictly a life time Gluten Free Diet. </td>
                        <td>Gluten free diet should be followed for at least 6 month to allow healing of the Gut.
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Onset of the Symptoms </th>
                        <td>Can start within 2 hours after ingesting food with Gluten.</td>
                        <td>Symptoms can start from 2 hours up to 72 hours.</td>

                    </tr>
                    <tr>
                        <th scope="row">Prevalence </th>
                        <td>Affects only 1% of the general population, but more than 75% go undiagnosed.</td>
                        <td>Affects more than 45% of the population.</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <!--//table of gluten free-->
    </div>
</div>
<app-footer></app-footer>