<app-main-navbar class="fixed-position"></app-main-navbar>
<div class="row no-gutters">
    <div class="col-sm-12 ">
        <h1 class="main-title text-center  mb-4 green-txt">

            <span class="text-uppercase ">Explore 100'<span style="text-transform: lowercase;">s</span> <span style="text-transform: lowercase;"> of</span><span class="orange-txt secfont"> delicious
                </span>Meal</span>
        </h1>
    </div>

    <div class="stand-block">

    </div>
</div>
<div class="row no-gutters">
    <div class="col-sm-3 px-0" *ngFor="let item of images">
        <div class="bk img-responsive" [style.backgroundImage]="'url('+ item +')'"></div>
        <!-- <img src="assets/images/gallery/18.jpg" class="img-responsive meal-img-gal" alt="meal-img"> -->
    </div>
    <!-- <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/17.jpg" class="img-responsive meal-img-gal" alt="meal-img">
    </div>

    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/16.jpg" class="img-responsive meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/14.jpg" class="img-responsive meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/15.jpg" class="img-responsive   meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/13.jpg" class="img-responsive   meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/12.jpg" class="img-responsive   meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/11.jpg" class="img-responsive   meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/10.jpg" class="img-responsive meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/9.jpg" class="img-responsive meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/8.jpg" class="img-responsive meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/7.jpg" class="img-responsive meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/6.jpg" class="img-responsive   meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/5.jpg" class="img-responsive   meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/4.jpg" class="img-responsive   meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/3.jpg" class="img-responsive   meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/2.jpg" class="img-responsive meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/19.jpg" class="img-responsive meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/20.jpg" class="img-responsive meal-img-gal" alt="meal-img">
    </div>
    <div class="col-sm-3 px-0">
        <div class="bk img-responsive"></div>
        <img src="assets/images/gallery/21.jpg" class="img-responsive meal-img-gal" alt="meal-img">
    </div> -->

</div>
<app-footer></app-footer>