/*gallery*/
.meal-img-gal{
    width:95%;
    height:300px;
    min-height: 200px;
    max-height:500px;
    min-width:100px;
    margin:7% 2%;
    max-width:450px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}


  .meal-img-gal:hover {
   
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
   
 
  }
  .meal-img-gal::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    color:transparent;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Fade in the pseudo-element with the bigger shadow */
  .meal-img-gal:hover::after {
    opacity: 1;
  }
/*//gallery*/

.bk{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:95%;
  height:300px;
  min-height: 200px;
  max-height:500px;
  min-width:100px;
  margin:7% 2%;
  max-width:450px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}
.bk:hover {
   
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
 

}