<!--accordion days -->

<div id="accordion-key">
    <div class="card card-accordion">
        <div class="card-header d-flex" id="heading-w1-one">
            <h5 class="mr-auto mb-0">
                <button class="btn  day-tab text-uppercase  btn-link" data-toggle="collapse"
                    data-target="#collapse-week.day.trim" aria-expanded="true" aria-controls="w1-one">
                    week.day week.date
                </button>
            </h5>



            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">

                                <label for="timeedit_w1">drop off</label>
                                <input type="text" class="form-control mb-2" id="timeedit_w1" disabled
                                    placeholder="Example input placeholder">

                                <label for="addressedit_w1">address</label>
                                <input type="text" class="form-control mb-2" id="addressedit_w1" disabled
                                    placeholder="Example input placeholder">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-on-car">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--//edit modal-->

        </div>

        <div id="collapse-week.day.trim" class="collapse " data-parent="#accordionS-key-week.day.trim">
            <div class="card-body">

                <!--//drop off-->

                <div id="accordionS-key-week.day.trim">
                    <div class="card text-uppercase">
                        <div class="card-header d-flex">


                            <h6 class="mr-auto green-txt">
                                key1
                            </h6>
                            <h5 class="ml-auto">
                                <button class="btn py-0 btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapse-key-week.day.trim-key1" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Click for to choose
                                    <i class="far fa-plus-square"></i>
                                </button>
                            </h5>

                        </div>
                        <div class="collapse" id="collapse-key-week.day.trim-key1"
                            data-parent="#accordionS-key-week.day.trim">
                            <div class="card-body">

                                <div class="row">

                                    <div class="col-sm-11">

                                        <!--radio botton choices-->

                                        <div class="form-check">

                                            <input id="index-key1-week.date" class="form-check-input" type="radio"
                                                name="radio-key-key1-week.date" value="meal">
                                            <label class="form-check-label" for="radio-key-key1-week.date">
                                                meal
                                            </label>
                                        </div>
                                        <!--//radio botton choices-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//w1-d1-->
                </div>
            </div>
        </div>
    </div>

    <!--//accordion days -->