<app-sec-navbar></app-sec-navbar>
    <!--content-->
          <!--background-->
          <div class="content-recover-bg">  
         
            <div class="row no-gutters justify-content-center">
               <div class="col-sm-6">
                   <div class="form-recover-bg">
                       <div class="row text-center text-capitalize green-txt d-flex justify-content-center " >
                            <h4 class="  mt-4 ">
                           You should soon recieve E-mail to<span class="orange-txt"> reset password.</span>
                           </h4>
                       </div>
                       <div class="row text-center  green-txt d-flex justify-content-center " >
                           <h5 class="  my-3 ">Please check your Junk/Spam folder in Case the confirmation email got delivered there.</h5>
                       </div>
   
                       <div class="row text-center text-capitalize green-txt d-flex justify-content-center " >
                            <h6 >Didn't recieve message.</h6>   
                       </div>
                       <div class="row mt-4 d-flex justify-content-center">
                           <h6 class=" resend-link">
                           <button class="btn btn-outline-info ml-2" (click)="resendMailforResetPassword()">
                             
                             <div *ngIf = "ResetPasswordSpn == false">Resend again</div>
                             
                             <div *ngIf = "ResetPasswordSpn == true" class="text-center">
                               <div class="spinner-border" role="status">
                                   <span class="sr-only">Loading...</span>
                               </div>
                             </div>
                           
                           </button>
                   
                           </h6>    
                       </div>
                   </div>    
               </div>   
            </div> 
         </div>
             <!--//content-->  