<!-- banner -->
<app-main-navbar class="fixed-position"></app-main-navbar>
<div class="bg-banner">
    <div class="row ">

        <div class="banner-2-overlay">
            <p class="banner-2-txt green-txt">{{ plan.name }}<span class="orange-txt secfont"> Plan</span></p>
            <a href="#meal_plans"></a>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- page details -->
<div class="row no-gutters">
    <div class="px-0 col-sm-12">
        <div class="breadcrumb-agile bg-light py-2">
            <ol class="breadcrumb bg-light m-0">
                <li class="breadcrumb-item">
                    <a routerLink="">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Review_detail
                </li>
            </ol>
        </div>
    </div>
</div>

<!-- //page details -->
<!--review details-->
<div class="row  my-5 ">
    <div class="col-sm-4 offset-sm-2">
        <h5 class="green-txt  mb-3">Start to serve you from <span class="orange-txt">{{ startDate }}</span>
        </h5>
        <label for="startingdate" class="orange-txt mr-2">Or choose your start</label>
        <input type="date" class="form-control date" id="startingdate" name="startDate" [(ngModel)]="startDate"
            min="{{minDate}}">
    </div>
</div>
<div class="row ">
    <div class="col-sm-4 offset-sm-2">
        <p for="" class="orange-txt">Select two or three meals in plan</p>
        <select class="form-control" (change)="changeMeal(meal_number.value)" aria-placeholder="Select meal"
            #meal_number>
            <option value="3">Three meals + 1 snack</option>
            <option value="2" *ngIf="detailsObj.tow_meals != undefined">Two meals + 1 snack</option>
        </select>
    </div>
</div>

<div class="row my-5 justify-content-center">
    <div class="col-sm-7">
        <div class="card cart-view-pro">
            <ul class="list-group list-group-flush">
                <li class="list-group-item cart-view-title green-txt">my cart</li>
                <li class="list-group-item cart-view-li-style">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="plan-image" [style.backgroundImage]="'url('+ plan.feature_img +')'"></div>
                            <!-- <img src="{{ plan.feature_img }}" alt="" class="img-responsive cart-view-pro-img"> -->
                        </div>
                        <div class="col-sm-3 center-y-x">
                            <p class="cart-view-pro-name">{{ plan.name }}</p>
                        </div>
                        <div class="col-sm-2 text-right center-y">
                            <span class="cart-view-pro-name text-uppercase green-txt">{{ tempPlan.price }} AED</span>
                        </div>
                    </div>
                </li>

                <!-- <li class="list-group-item cart-view-li-style">
                    <p>
                        <a class="promo-code orange-txt" data-toggle="collapse" href="#collapsepromo" role="button"
                            aria-expanded="false" aria-controls="collapsepromo">
                            <i class="fas mr-2 fa-tag"></i>enter promo code
                        </a>

                    </p>
                    <div class="collapse" id="collapsepromo">
                        <div class="card card-body">
                            <form class="form-inline">
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" class="form-control" id="inputpromocode"
                                        placeholder="Enter Promo Code" name="promocodeValue"
                                        [(ngModel)]="promocodeValue">
                                </div>

                                <button type="button" class="btn promo-btn mb-2" (click)="checkPromocode()">
                                    <div *ngIf="applySpn == true" class="text-center">
                                        <div class="spinner-border " role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <span *ngIf="applySpn == false">apply</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>

    <!--order summary-->
    <div class="col-sm-3">
        <div class="card cart-view-pro">
            <ul class="list-group list-group-flush">
                <!-- <li class="list-group-item cart-view-title green-txt">order summary</li> -->
                <div class="promodiv">
                    <input type="text" [(ngModel)]="promocodeValue" class="form-control"
                        placeholder="Enter promotional code">
                    <button *ngIf="applySpn == false" (click)="checkPromocode()">Apply</button>
                    <div *ngIf="applySpn == true" class="spinner-border position-load" role="status"></div>
                </div>
                <li class="list-group-item cart-view-li-style">
                    <div class="row ">
                        <div class="col-sm-12">
                            <div class="ds-block">
                                <p class="cart-view-pro-name float-left">{{plan.name}}</p>
                                <p class="cart-view-pro-name float-right text-uppercase">{{ tempPlan.priceAfterAdding_5
                                    }}
                                    AED</p>
                            </div>

                        </div>
                
                    </div>
                    <!-- break -->
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="ds-block">
                                <p class="cart-view-pro-name float-left">4 weeks (5 day per week)</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            
                            <div class="ds-block">
                                <p class="cart-view-pro-name float-left">Daily Delivery</p>
                                <p class="cart-view-pro-name float-right text-uppercase">Free</p>
                            </div>
                        </div>
                    </div>



                </li>
                <li class="list-group-item cart-view-li-style">

                    <div class="row ">
                        <div class="col-sm-12">
                            <div class="ds-block">
                                <p class="cart-view-pro-name float-left">BreakDown</p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-12">
                            <div class="ds-block">
                                <p class="cart-view-pro-name float-left">Amount before VAT</p>
                                <p class="cart-view-pro-name float-right text-uppercase">{{tempPlan.price}} AED</p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-12">
                            <div class="ds-block">
                                <p class="cart-view-pro-name float-left">VAT 5% amount</p>
                                <p class="cart-view-pro-name float-right text-uppercase">{{tempPlan.vat}} AED</p>
                            </div>
                        </div>
                    </div>


                </li>
                <li class="list-group-item cart-view-li-style">
                    <div class="row ">
                        <div class="col-sm-12 blue-txt">
                            <div class="ds-block cart-view-title">
                                <p class=" float-left width-75">Refundable Deposit Chiller Bag <br>(not taxable)</p>
                                <p>200 AED</p>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" (click)="checkout()"
                                class="btn shopping-n-btn w-100 mt-4 rounded-pill">

                                <div class="spinner-border " *ngIf="CheckoutSpn==true" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <span *ngIf="CheckoutSpn==false">
                                    <i class="fas mr-2  fa-shopping-bag"></i>
                                    check out
                                </span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--//order summary-->
</div>

<!--//review details-->
<app-footer></app-footer>