.date {
    width: unset !important;
    display: unset !important;
}
.promodiv {
    display: inline-block;
    input{
        background-color: #f8f9fa;
    }
    input:focus{
        box-shadow: none !important;
        ::placeholder{
            color:transparent;
            transition: 1s ease-in-out;
        }
    }
    button {
        border: none;
        color: white;
        background-color: #03a84e;
        right: 0px;
        height: 38px;
        border-radius: 1px 4px 4px 0px;
        position: absolute;
        z-index: 555;
        top: 0;
    }
}
.position-load{
    right: 6px;
    top: 4px;
    position: absolute;
    background-color: #03a84e;
    color: white;
    transition: 1s eas-in-out;
}

.width-75{
    width: 75%;
}

.plan-image{
    height: 184px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f8f9fa;
    border-radius: 3px;
}
.center-y-x{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-y{
    display: flex;
    align-items: center;
}
select{
    width: unset !important;
}