.planImg {
    width: 100%;
    max-height: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .card {
//     border-radius: 1.428571429em 1.428571429em 18px 18px;
// }
// .card__top {
//     display: block;
//     border-radius: 1.428571429em 1.428571429em 0 0;
//     float: none;
//     margin-right: 0;
//     box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.16);
//     position: relative;
//     overflow: hidden;
//     color: #fc6719;
//     text-decoration: none;
// }
// .card__top img {
//     width: 100%;
//     border-radius: 0;
//     box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.16);
//     vertical-align: middle;
// }
// .inner-card {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
// }
// .card__top h3 {
//     margin-top: 0.677419355em;
//     position: initial;
//     bottom: auto;
//     font-size: 2.214285714em;
//     line-height: 1;
//     font-family: "AvenirNextBold", Helvetica, Arial, sans-serif !important;
//     color: #fff;
//     margin-bottom: 0.714285714em;
//     width: 100%;
//     text-align: center;
// }
// .plan-description {
//     padding: 0 1.384615385em;
//     margin-top: 171px;
//     font-size: 26px;
//     line-height: 1.307692em;
//     font-family: "AvenirNextDemiBold", Helvetica, Arial, sans-serif;
//     color: #ffffff;
// }
// .plan-table {
//     color: #ffffff;
//     width: 100%;
//     padding: 0 0.928571429em;
//     margin-top: 1.214285714em;
// }
// .plan-table span {
//     display: inline-block;
//     font-family: "AvenirNextBold", Helvetica, Arial, sans-serif;
//     line-height: 1.111111111em;
//     border: 0.111111111em solid #ffffff;
//     padding: 0.333333333em 0.444444444em 0.333333333em 0.5em;
//     text-align: left;
//     vertical-align: middle;
// }
// .plan-table span:first-child {
//     border-right: none;
// }
// .plan-table span:nth-child(2) {
//     border-right: none;
// }
// .boxed {
//     cursor: pointer;
//     width: 100%;
//     height: 56px;
//     line-height: 57px;
//     padding: 0;
//     border-width: 0.143rem;
//     text-transform: uppercase;
//     text-decoration: none;
//     font-family: 'AvenirNextBold', 'Helvetica', 'Arial', sans-serif !important;
//     background: #FAF8FA;
//     border-radius: 0 0 18px 18px;
// }
// .boxed:hover{
//     background: green;
//     span{
//         color: white;
//     }
// }
// .btn {
//     background: #faf8fa;
//     border-color: #faf8fa;
//     width: 100%;
//     height: 7.285714286em;
//     line-height: 7.285714286em;
//     padding: 0;
//     border-radius: 0 !important;
//     border-width: 0.143rem;
//     text-transform: uppercase;
// }
// .btn__text {
//     color: #707070;
// }
// /*.card {
//     border: 1px solid #f0f0f0;
//     margin-bottom: 2.642857143em;
//     border-radius: 1.428571429em;
//     box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
// }
// .text-center {
//     text-align: center;
// }
// .card__top {
//     border-radius: 1.428571429em 1.428571429em 0 0;
//     position: relative;
//     overflow: hidden;
// }
// .modal-instance {
//     display: inline-block;
// }
// .card__top h3 {
//     position: absolute;
//     left: 0.8em;
//     top: 0.8em;
//     color: #ffffff;
//     font-family: "AvenirNextBold", Helvetica, Arial, sans-serif !important;
//     text-align: left;
//     line-height: 1.2;
//     font-size: 2.142857143em;
// }
// .card__top a {
//     font-family: "AvenirNextBold", Helvetica, Arial, sans-serif !important;
//     color: #ffffff;
// }
// .plan-table {
//     color: #ffffff;
//     width: 100%;
//     padding: 0 0.928571429em;
//     margin-top: 1.214285714em;
//     position: absolute;
//     bottom: 18px;
// }
// .plan-table span {
//     display: inline-block;
//     font-family: "AvenirNextBold", Helvetica, Arial, sans-serif;
//     line-height: 1.111111111em;
//     border: 0.111111111em solid #ffffff;
//     padding: 0.333333333em 0.444444444em 0.333333333em 0.5em;
//     text-align: left;
//     vertical-align: middle;
// }
// .block {
//     display: block;
// }
// .btn__text {
//     color: #707070;
// }
// .boxed {
//     margin: 0;
//     padding: 1.928571429em 2.5em 1.571428571em 2.5em;
//     border-radius: 0 0 1.428571429em 1.428571429em;
//     position: relative;
//     overflow: hidden;
//     padding: 1.85714286em;
//     margin-bottom: 30px;
// }
// .boxed:not([class*="bg-"]) {
//     background: #fff;
// } */