<!--plans-->
<div class="index-plan-bg mt-5">

    <!--meal plans title-->
    <div class="row no-gutters justify-content-center">
        <div class="col-xl-8 col-lg-8 ">
            <div class=" text-center mt-5">
                <h1 id="meal_plans" class="main-title mb-2 green-txt">
                    <span class=" orange-txt  text-uppercase ">Our </span><span class=" text-uppercase ">meal
                        plans</span>
                </h1>
            </div>
        </div>
    </div>

    <!--//meal plans title-->

    <div class="row py-5 no-gutters justify-content-center ">

        <!--spinner-->
        <div class="spin-wrap white-txt" *ngIf="arrPlan == undefined">
            <div class="spinner-border " role="status">
            </div>
            <span class="pl-3">
                <h3>Loading...</h3>
            </span>
        </div>

        <!--//spinner-->

        <div class="col-lg-3  col-md-4   " *ngFor="let plan of arrPlan;let i = index">
            <div class="card text-center mx-auto index-card  ">
                <a routerLink="plan-details">
                    <div style="overflow:hidden">
                        <div class="planImg">
                            <img class="card-img-bottom img-responsive" src="{{plan.feature_img}}" alt="Card image cap">
                        </div>
                    </div>
                </a>

                <div class="card-body index-c-body ">
                    <div class="wrap-card-txt">
                        <h5 class=" card-title m-0"><a routerLink="plan_details" [ngStyle]="{ 'color': (plan.color) }">{{plan.name}}</a></h5>

                        <div class="plan-menu-list">
                            <ul class="list-wrap-index-card">
                                <li *ngFor="let Feature of plan.feature">
                                    <span>{{Feature}}</span>
                                </li>
                            </ul>
                        </div>

                        <h3 class="orange-txt my-3"><sub>from</sub><sub class="price-unit"> AED</sub> <span>{{plan.price_per_day}}
                                </span><sub>/ Day</sub></h3>

                        <a (click)="getPlanDetail(plan,plan.id)" class="btn py-2 btn-card">
                            <span class="white-txt"> View Plan</span>


                        </a>
                    </div>

                </div>

            </div>
        </div>


        <!-- new design -->
        <!--  <div class="col-xs-3">
        <div class="plan-success_diabetic plan-box">
                <div class="card text-center ">
                    <a href="https://www.kcalextra.com/meal-plans/success-diabetic-plan/" class="card__top">
                        <img alt="Diabetic Plan"
                            src="https://www.kcalextra.com/kcal-content/uploads/2020/06/price_plans_296x497px_DIA@2x1.jpg">
                        <div class="inner-card">
                            <h3 class="gtm-plan-title"> Diabetic<br> Plan </h3>
                            <div class="plan-description">Control your blood sugar with low GI meals.</div>
                            <div class="plan-table">
                                <span class="plan-calories">
                                    <strong>1000-1300</strong><br>
                                    calories </span><span class="plan-info">3 meals<br>
                                    2 snacks</span><span class="plan-info-per-day">per<br>
                                    day</span>
                            </div>
                        </div>
                    </a>
                    <div class="boxed">
                        <span class="btn__text">View</span>
                    </div>
                </div>
            </div> 

        </div>-->


    </div>

</div>


<!--  //plans-->