<app-sec-navbar></app-sec-navbar>
  <!--content-->
          <!--background-->
          <div class="content-recover-bg">  
         
            <div class="row no-gutters justify-content-center">
               <div class="col-sm-6">
                   <div class="form-recover-bg">
                         <div class="row d-flex justify-content-center " >
                           <div  *ngIf="status == 0" class="spinner-border" role="status">
                              <span class="sr-only">Loading...</span>
                           </div>
                            <h3 class="orange-txt text-center my-4 text-capitalize" *ngIf="status == 1"><span class="green-txt">Success.</span> purchasing done successfully</h3> 
                            <h3 class="orange-txt text-center my-4 text-capitalize" *ngIf="status == 2"><span class="green-txt">Failed.</span> please contact your bank</h3> 
                            <div class="success-p-wrap"> 
                              
                            </div>
                         </div>
                         <div class="mt-4 d-flex justify-content-end">
                            <a  routerLink=""  class="btn  journey-btn-n-form ">Go to Home</a>
                            
                        </div>
                   </div>    
               </div>   
             </div> 
          </div>
             <!--//content-->  
