<app-sec-navbar></app-sec-navbar>
       <!--content-->
          <!--background-->
          <div class="content-recover-bg">  
         
            <div class="row no-gutters justify-content-center">
               <div class="col-sm-6">
                   <div class="form-recover-bg">
                         <div class="row d-flex justify-content-center " >
                            <h3 class="orange-txt text-center my-4 text-capitalize"><span class="green-txt">Welcome </span>to Utrition</h3> 
                           </div>
                            <div class="row d-flex justify-content-center " >
                            <div class="success-p-wrap"> 
                               <p>Help us know you better.</p>
                               
                            </div>
                         </div>
                        <div class="mt-4 d-flex justify-content-center">
                            <a  routerLink="/questionnaire"  class="btn  journey-btn-n-form ">Take our Questionaire</a>
                     
                        </div>
                   </div>    
               </div>   
             </div> 
          </div>
             <!--//content-->  