   <!-- navbar -->
   <nav class="navbar  navbar-expand-lg  navbar-light checkout-nav-bg">
    <a class="navbar-brand" routerLink="">
    <img src="assets/images/logo_crop.jpg" alt="utrition logo" class="nav-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a class="nav-link" routerLink="">home</a>
       </li>
     </ul>
   </div>
 </nav>     
<!--//navbar  ss-->