<app-main-navbar class="fixed-position"></app-main-navbar>
<!--banner-->
<div class="bg-banner-manage">
    <div class="row  p-0">

        <div class="overlay-on-img-manage">
            <p class="topText uppercase-text green-txt">Manage your<span class="orange-txt secfont"> Plan
                </span></p>
        </div>
    </div>

</div>

<!--//banner-->
<!--crumb-->
<div class="row no-gutters">
    <div class=" px-0 col-sm-12">
        <div class="breadcrumb-agile bg-light py-2">
            <ol class="breadcrumb bg-light m-0">
                <li class="breadcrumb-item">
                    <a routerLink="">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Manage your Plan</li>
            </ol>
        </div>
    </div>
</div>
<!--//crumb-->

<!--main tabs-->
<ul class="nav my-4 nav-tabs justify-content-center" id="myTabmenu" role="tablist">

    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="menu-tab" data-toggle="tab" href="#menu" role="tab" aria-controls="menu" aria-selected="true">menu</a>
    </li>
    <!--  -->
    <li class="nav-item" role="presentation" *ngIf="freezePlan == null && planAssLength != 0 && showLoadingSpinForSbMenu == false">
        <a class="nav-link" id="freeze-tab" data-toggle="tab" href="#freeze" role="tab" aria-controls="freeze" aria-selected="false">freeze</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="renew-tab" data-toggle="tab" href="#renew" role="tab" aria-controls="renew" aria-selected="false">renew</a>
    </li>

    <li class="nav-item" role="presentation">
        <a class="nav-link" id="submitplan-tab" data-toggle="tab" href="#submitplan" role="tab" aria-controls="submitplan" aria-selected="false">submit plan</a>
    </li>
</ul>

<div class="tab-content" id="myTabmenuContent">

    <!--menu tab-->
    <div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="menu-tab">
        <app-user-menu></app-user-menu>
    </div>
    <!--      freeze tab  -->
    <div *ngIf="freezePlan == null && planAssLength != 0 && showLoadingSpinForSbMenu == false" class="tab-pane fade text-capitalize" id="freeze" role="tabpanel" aria-labelledby="freeze-tab">
        <app-freeze-user-menu></app-freeze-user-menu>

    </div>


    <!--renew tab-->

    <div class="tab-pane fade" id="renew" role="tabpanel" aria-labelledby="renew-tab">
        <app-renew-user-menu></app-renew-user-menu>
    </div>


    <!--submit-->


    <div class="tab-pane fade" id="submitplan" role="tabpanel" aria-labelledby="submitplan-tab">
        <app-submit-user-menu></app-submit-user-menu>
    </div>

    <!--//submit-->
</div>
<!--//main tabs -->

<app-footer></app-footer>