<app-sec-navbar></app-sec-navbar>
<!--log in tabs-->
<div class="row  mt-5 no-gutters justify-content-center">
    <div class="col-sm-6">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item log-item" role="presentation">
                <a class="nav-link active" id="log-tab" data-toggle="tab" href="#log" role="tab" aria-controls="home"
                    aria-selected="true">log in</a>
            </li>
            <li class="nav-item log-item" role="presentation">
                <a class="nav-link" id="reg-tab" data-toggle="tab" href="#reg" role="tab" aria-controls="profile"
                    aria-selected="false">register</a>
            </li>

        </ul>
    </div>
</div>

<div class="row no-gutters  justify-content-center">
    <div class="col-sm-6">
        <div class="tab-content log-content" id="myTabContent">
            <!--log tab-->
            <div class="tab-pane fade show active" id="log" role="tabpanel" aria-labelledby="log-tab">
                <div class="login-body mt-5">
                    <form (ngSubmit)="login()" #objLogin="ngForm">
                        <div class="form-group">
                            <label>Your Email
                                <!-- <span class="red-txt">*</span> -->
                            </label>
                            <input type="email" ngModel name="email" class="form-control"
                                id="email-nav-log" placeholder="Enter Your E-Mail" email required>
                        </div>
                        <div class="form-group">
                            <label class="mb-2">Password
                                <!-- <span class="red-txt">*</span> -->
                            </label>
                            <input type="password" ngModel name="password" class="form-control"
                                id="password-nav-log" placeholder="Enter Your Password" required>
                        </div>
                        <button type="submit" [disabled]=!objLogin.valid
                            class="btn white-txt w-100 btn-on-car submit mt-3 mb-4">
                            <div *ngIf="loginSpn == true" class="text-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <span *ngIf="loginSpn == false" >Login</span>
                        </button>
                        <p class="forgot-w3ls text-center mb-3">
                            <a routerLink="/forget-pass-email">Forgot your password?</a>
                        </p>
                    </form>
                </div>
            </div>
            <!--//log tab-->
            <!--reg tab-->
            <div class="tab-pane fade" id="reg" role="tabpanel" aria-labelledby="reg-tab">
                <div class="login-body mt-5">
                    <form (ngSubmit)="register(objRegister)" #objRegister="ngForm">

                        <div class="form-group ">
                            <label for="inputtitle">Title
                                <!-- <span class="red-txt">*</span> -->
                            </label>
                            <select id="inputtitle"name="title" required=""
                                class="form-control">
                                <option value="mr">Mr.</option>
                                <option value="mrs">Mrs.</option>
                                <option value="miss">Miss.</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="name">Your Name
                                <!-- <span class="red-txt">*</span> -->
                            </label>
                            <input type="text" ngModel required class="form-control" name="name"
                            id="email-nav-reg" placeholder="Enter Your Username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email
                                <!-- <span class="red-txt">*</span> -->
                            </label>
                            <input type="text" ngModel required email name="email"
                            class="form-control" id="email-nav-reg" placeholder="Enter Your E-Mail">
                        </div>
                        <!-- <p class="text-danger text-capitalize">errorMessage</p> -->
                        <div class="form-group">
                            <label for="password1" class="mb-2">Password
                                <!-- <span class="red-txt">*</span> -->
                            </label>
                            <input type="password" ngModel required name="password" 
                            class="form-control" id="password-nav-reg" placeholder="Enter Your Password">
                        </div>

                        <div class="form-group">
                            <label for="password1" class="mb-2">confirm password
                                <!-- <span class="red-txt">*</span> -->
                            </label>
                            <input type="password" ngModel required class="form-control" name="confirm_password" 
                            id="password-nav-confirm-reg" placeholder="Confirm Your Password">
                        </div>

                        <div class="form-group">
                            <label for="date">Age
                                <!-- <span class="red-txt">*</span> -->
                            </label>
                            <input type="number" ngModel class="form-control" name="age" id="date"
                                placeholder="Age" required>
                        </div>
                        <div class="form-group">
                            <label for="date">Phone
                                <!-- <span class="red-txt">*</span> -->
                            </label>
                            <input type="text" ngModel class="form-control" name="phone" id="date"
                                placeholder="Phone" required>
                        </div>
                        <div class="form-group">
                            <label for="date">Address
                                <!-- <span class="red-txt">*</span> -->
                            </label>
                            <input type="text" ngModel class="form-control" name="address"
                                id="date" placeholder="Address" required>
                        </div>
                        <p class="text-center">
                            By clicking Register, I agree to your terms
                        </p>
                        <button type="submit" [disabled]=!objRegister.valid
                            class="btn white-txt w-100 btn-on-car submit mt-3 mb-4">
                            <div *ngIf="regSpn == true" class="text-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <span *ngIf="regSpn == false">Register</span>
                        </button>

                    </form>
                </div>
            </div>
            <!--//reg tab-->
        </div>

    </div>
</div>
<!--//log in tabs-->
<app-footer></app-footer>