<app-main-navbar class="fixed-position"></app-main-navbar>
<app-index-static></app-index-static>
<app-index-plans id="indexplan"></app-index-plans>
<app-index-feedback></app-index-feedback>
<app-footer></app-footer>
<ngx-spinner></ngx-spinner>