<app-main-navbar class="fixed-position"></app-main-navbar>

<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <h3 class=" pl-3 my-4 green-txt">
                <span class="text-uppercase ">personal information
                </span>
            </h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form>
                        <div class="form-group row">
                            <label for="name-n-profile" class="col-sm-2 col-form-label">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" [(ngModel)]="user.name" name="name" disabled class="form-control-plaintext" id="name-n-profile">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email-n-profile" class="col-sm-2 col-form-label">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" [(ngModel)]="user.email" name="email" disabled class="form-control-plaintext" id="email-n-profile">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="phone-n-profile" class="col-sm-2 col-form-label">Phone:</label>
                            <div class="col-sm-10">
                                <input type="text" [(ngModel)]="user.phone" name="phone" class="form-control" id="phone-n-profile">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pass-n-profile" class="col-sm-2 col-form-label">Password:</label>
                            <div class="col-sm-10">
                                <input type="password" [(ngModel)]="user.password" name="password" value="" class="form-control" id="pass-n-profile">
                            </div>
                        </div>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <h3 class=" pl-3 my-4 green-txt">
                <span class="text-uppercase ">delivery information
                </span>
            </h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>Address</p>

                    <div class="row py-5 no-gutters justify-content-center" *ngIf="showLoadingSpinForSbMenu == true">
                        <div class="spin-wrap green-txt">
                            <div class="spinner-border " role="status">
                            </div>
                            <span class="pl-3">
                            <h3>Loading...</h3>
                        </span>
                        </div>
                    </div>
                    <form (ngSubmit)="updateUserProfile()" #objUser="ngForm">
                        <div class="form-group row" *ngFor="let obj of userAddress; let i = index">

                            <div class="col-sm-2 col-form-label green-txt">
                                <input type="text" class="form-control" name="'address_name'+{{i}}" id="address-home-n-profile" [(ngModel)]="userAddress[i].address_name">
                            </div>
                            <div class="col-sm-8 v-center">
                                <input type="text" class="form-control" name="'address'+{{i}}" id="address-sec-n-profile" [(ngModel)]="userAddress[i].address">
                            </div>
                            <div class="col-sm-2 v-center">
                                <a class="promo-code orange-txt float-right" data-toggle="collapse" href="#collapseupdateaddress" role="button" aria-expanded="false" aria-controls="collapseupdateaddress">
                                    <i (click)="addAddress(i,obj)" class="fas fa-plus margin-h-8"></i>
                                    <i (click)="removeAddress(i)" class="fas fa-minus" *ngIf="i > 0"></i>

                                </a>
                            </div>
                        </div>
                        <button type="button" class="btn w-100 promo-btn mb-2" (click)="updateUserProfile()">
                            <div *ngIf = "spnUpdate == true" class="spinner-border " role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <span>update</span>
                        </button>

                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <h3 class=" pl-3 my-4 green-txt">
                <span class="text-uppercase ">medical information
                </span>
            </h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form>
                        <div class="form-row">
                            <div class="form-group checkboxex-style width100">
                                <label>Do you have any medical condition:</label><br>
                                <label>medical condition:</label><br>
                                <div class="row">
                                    <div class="col-3" *ngFor="let item of medicalcondition">
                                        <p class="mfont">{{item}}</p>
                                    </div>
                                </div>
                                <!-- <div *ngIf = "medicalCondition.Anemia == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>Anemia</label>
                                </div>
                                <div *ngIf = "medicalCondition.Diabetes == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>Diabetes</label>
                                </div>
                                <div *ngIf = "medicalCondition.BloodPressure == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>Blood Pressure (hyper or Hypo)</label>
                                </div>
                                <div *ngIf = "medicalCondition.Thyroid == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>Thyroid (hyper or hypo)</label>
                                </div>
                                <div *ngIf = "medicalCondition.heart == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>Heart problems</label>
                                </div>
                                <div *ngIf = "medicalCondition.Gastrointestinal == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>Gastrointestinal Problems</label>
                                </div>
                                <div *ngIf = "medicalCondition.otherCondition != null" class="ds-block">
                                    <label>other,please specify</label>
                                    <input disabled type="text" name="otherCondition"
                                        value="{{ medicalCondition.otherCondition }}" class="form-control">
                                </div> -->
                            </div>

                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6 checkboxex-style">
                                <label>Food causes Allergy:</label><br>
                                <div class="row">
                                    <div class="col-3" *ngFor="let item of foodAllergyArr">
                                        <p class="mfont">{{item}}</p>
                                    </div>
                                </div>
                                <!-- <p>{{ allergyMessage }}</p>
                                <div *ngIf = "foodAllergy.eggs == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>eggs</label>
                                </div>
                                <div *ngIf = "foodAllergy.Dairy == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>Dairy</label>
                                </div>
                                <div *ngIf = "foodAllergy.Gluten == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>Gluten</label>
                                </div>
                                <div *ngIf = "foodAllergy.nuts == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>nuts</label>
                                </div>
                                <div *ngIf = "foodAllergy.fish == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>fish</label>
                                </div>
                                <div *ngIf = "foodAllergy.Seashell == 'yes'" class="ds-block">
                                    <i class="far fa-check-circle"></i>
                                    <label>Seashell</label>
                                </div>
                                <div *ngIf = "foodAllergy.otherAllergy == 'yes'" class="ds-block">
                                    <label for="allergy7">other,please specify </label>
                                    <input type="text" class="form-control" disabled
                                    value="{{ foodAllergy.otherAllergy }}" name="otherAllergy">
                                </div> -->
                            </div>

                        </div>

                    </form>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <button class="logout" (click)="logout()">Logout</button>
</div>