.v-center{
    display: flex;
    align-items: center;
}
.margin-h-8{
    margin: 0px 8px;
}
.width100{
    width: 100%;
}
.mfont{
    background-color: #7eb004;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 1px;
    font-size: 15px;
}
.logout{
    border: none;
    margin: 28px 0px;
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 8px 82px;
}