     <app-sec-navbar></app-sec-navbar>
     <!--content-->
          <!--background-->
          <div class="content-recover-bg">  
         
            <div class="row no-gutters justify-content-center">
               <div class="col-sm-6">
                  <form class="form-recover-bg" (ngSubmit)="resetPassword()" #resetEmailForm="ngForm">
                  <h3 class="green-txt text-center py-3 text-uppercase">recover password</h3> 
                    
                    <div class="form-group">
                      <label for="emailaddressrecover">E-mail</label>
                      <input type="text" id="emailaddressrecover" name="resetEmail" [(ngModel)]="resetEmail.email" 
                        class="form-control" placeholder="email@email.com" email required>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                      <button type="submit" class="btn stand-btn"  [disabled]=!resetEmailForm.valid>
                        <div class="text-center" *ngIf = "resetPassSpn == true">
                          <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                        <div *ngIf = "resetPassSpn == false">Reset Password</div>
                      </button>
                    </div>
                  </form>    
               </div>   
             </div> 
          </div>
             <!--//content-->  