<app-sec-navbar></app-sec-navbar>
          <!--content-->
          <!--background-->
          <div class="content-recover-bg">  
         
            <div class="row green-txt no-gutters justify-content-center">
              <div class="col-sm-6">
                <div class="form-recover-bg">
                  <div class="row text-center green-txt text-capitalize d-flex justify-content-center " >
                    <h4 class="  mt-4 ">
                      You registered Successfully.
                    </h4>
                  </div>
                  <div class="row text-center green-txt text-capitalize d-flex justify-content-center " >
                      <h4 class=" my-3 "> Please check your E-mail address to <span class="orange-txt">  verify your account </span></h4>
                  </div>  
                  <div class="row text-center green-txt text-capitalize d-flex justify-content-center " >
                       <h6 >Didn't recieve message.</h6>  
                  </div>
                  <div class="row mt-4 d-flex justify-content-center">
                    <h6 class=" resend-link">
                      <!-- <a > </a>  -->
                      <button class="btn btn-outline-info ml-2" (click) = "resendMail()"> 

                      <div *ngIf="resendMailSpn == false">Resend again</div>

                       <div *ngIf="resendMailSpn == true" class="text-center">
                           <div class="spinner-border" role="status">
                               <span class="sr-only">Loading...</span>
                           </div>
                       </div>

                      </button>
                    </h6>  
                  </div>
                </div>    
              </div>   
            </div> 
          </div>
             <!--//content-->  