/* You can add global styles to this file, and also import other style files */


/*-- Reset Code --*/


/*animation*/

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 11s linear infinite;
    -moz-animation: rotating 11s linear infinite;
    -ms-animation: rotating 11s linear infinite;
    -o-animation: rotating 11s linear infinite;
    animation: rotating 11s linear infinite;
}


/*//animation*/


/*@font-face {
    font-family: secfont;
    src: url(../font/Yellowtail-Regular.ttf);
  }*/

body {
    background: #fff;
    font-family: "Lato", sans-serif;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

body a:hover,
body button:hover {
    opacity: 0.8;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 25px;
    color: #999;
    font-family: "Lato", sans-serif;
    font-weight: normal;
}

.btn {
    border-radius: 0px;
}

.stand-block {
    width: 100%;
    height: 3rem;
    display: block;
}

label {
    text-transform: capitalize;
}


/*top header*/

.header-bg {
    background-color: #f8f9fa;
}

.fa-facebook-f {
    color: #3b5998;
}

a.login-button-2 {
    font-size: 12px;
    color: #7cb004;
    padding: 8px 7px;
    font-weight: 600;
}

.stand-btn {
    border: 2px solid #7cb004;
    transition: 0.5s ease;
}

.stand-btn:hover {
    background-color: #7cb004;
    color: white;
}

.fa-twitter {
    color: #1da1f2;
    overflow: hidden;
    width: 16px;
}

.ds-block {
    display: block;
}


/*//top header*/


/*navbar*/

.nav-logo {
    width: 100px;
    height: 64px;
}

.nav-bg {
    background-color: white;
}

nav a {
    color: #3a3939;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: 1px solid transparent;
    transition: border 0.3s ease-out;
    padding-bottom: 5%;
    width: max-content;
    font-size: 14px;
}

.navbar-light .navbar-nav li .active {
    border-bottom: 2px solid #ffb734;
}

.nav-txt-style {
    font-weight: 600;
}


/*//navbar*/


/*carousel */

.intro-car-img {
    height: 350px;
    max-height: 400px;
}

.text-19-b {
    font-size: 18px;
    font-weight: 600;
}

.text-15-b {
    font-size: 15px;
    font-weight: 600;
}

@keyframes introbgan {
    50% {
        background-position: top;
    }
}

.car-1-slide-bg {
    background: url(./assets/images/car-1-crop-sm.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 520px;
    width: 100%;
    position: relative;
    animation: introbgan 6s ease-in-out;
    animation-delay: 0.5s;
}

.car-2-slide-bg {
    background: url(./assets/images/15134-sm.jpg) no-repeat;
    background-position: left;
    background-size: cover;
    height: 520px;
    position: relative;
    width: 100%;
    animation: introbgan 6s ease-in-out;
    animation-delay: 0.5s;
}

.car-3-slide-bg {
    background: url(./assets/images/car-3-sm.jpg) no-repeat;
    background-position: left;
    background-size: cover;
    height: 520px;
    position: relative;
    width: 100%;
    animation: introbgan 6s ease-in-out;
    animation-delay: 0.5s;
}

.car-33-slide-bg {
    background: url(./assets/images/golds.jpg) no-repeat;
    background-position: left;
    background-size: cover;
    height: 520px;
    position: relative;
    width: 100%;
    animation: introbgan 6s ease-in-out;
    animation-delay: 0.5s;
}

.car-4-slide-bg {
    background: url(./assets/images/golds.jpg) no-repeat;
    background-position: left;
    background-size: 100% 100%;
    height: 520px;
    position: relative;
    width: 100%;
    /* animation: introbgan 6s ease-in-out; */
    /* animation-delay: 0.5s; */
    background-position: center;
}

.car-5-slide-bg {
    background: url(./assets/images/detox.jpg) no-repeat;
    background-position: left;
    background-size: cover;
    height: 520px;
    position: relative;
    width: 100%;
    animation: introbgan 6s ease-in-out;
    animation-delay: 0.5s;
}

@media only screen and (max-width: 405px) {
    .overlay-on-img-sec {
        top: 9% !important;
        left: 5%;
        width: 90%;
    }
    .overlay-on-img-third {
        top: 9% !important;
        left: 5%;
        width: 90%;
    }
    .overlay-on-img {
        position: absolute !important;
        top: 10% !important;
        left: 5% !important;
        width: 100% !important;
    }
    .topText {
        font-size: 16px !important;
        line-height: 2 !important;
        font-weight: bold;
    }
    .goldsButtonDiv {
        height: 87% !important;
        width: 96% !important;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .goldsButton {
        border: none;
        background-color: #f9e428;
        font-weight: bold;
        padding: 1px 14px;
        border-radius: 22px;
    }
    .car-5-slide-bg {
        background-size: contain;
        height: 191px;
    }
    .car-4-slide-bg {
        background-size: cover;
        height: 191px;
    }
    .car-3-slide-bg {
        /* background-size: contain; */
        height: 191px;
    }
    .car-33-slide-bg {
        /* background-size: contain; */
        height: 191px;
    }
    .car-2-slide-bg {
        /* background-size: contain; */
        height: 191px;
    }
    .car-1-slide-bg {
        /* background-size: contain; */
        height: 191px;
    }
}

.H520 {
    height: 520px;
}

.car-item-style {
    position: relative;
}

.overlayText {
    position: absolute;
    top: 5%;
    right: 2%;
    z-index: 1;
    width: 55%;
    overflow: hidden;
    height: 100%;
}

.topText {
    font-size: 35px;
    line-height: 2;
    font-weight: bold;
}

.toptitle {
    font-size: 40px;
    line-height: 1;
    text-transform: capitalize;
    font-family: secfont, sans-serif;
}

.abs {
    position: absolute;
}

.overlay-on-img {
    position: absolute;
    top: 41%;
    left: 5%;
    width: 40%;
}

.overlay-on-img-sec {
    top: 30%;
    left: 35%;
    width: 30%;
}

.over-logo {
    height: 100px;
    width: auto;
    max-width: 200px;
}

.overlay-on-img-third {
    top: 30%;
    left: 3%;
    width: 30%;
}

.colorYellow {
    background: #eee870;
}

.btn-on-car1 {
    letter-spacing: 1px;
    font-size: 13px;
    padding: 12px 20px;
    background: #ffdd00;
    color: white;
}

.btn-on-car1:hover {
    color: white;
}

.btn-on-car {
    letter-spacing: 1px;
    font-size: 13px;
    padding: 12px 20px;
    background: #7cb004;
    color: white;
}

.btn-on-car:hover {
    color: white;
}

.intro-car-indicator li {
    background-color: #f8f9fa;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}


/*//carousel*/


/*intro bg
.intro-bg{
    background-image: url(../images/round-img.png);
    width:100%;
    height:350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position:relative
}
.car-cont{
    position:relative;
    width: 100%;
}
.carousel-item{
    height:400px;
}
.overlayText{
    position:absolute;
    top: 5%;
    right: 2%;
    z-index:1;
    width:55%;
    overflow: hidden;
    height: 100%;
    
}

.topText{
    font-size:40px;
    line-height:1;
    text-transform: capitalize;
    
}

.overlay-on-img{
    position: absolute;
    top:30%;
    left:30%;
    width:30%;
}

.intro-car-img{
    height:100%
}
.btn-on-car {
  
    letter-spacing: 1px;
    font-size: 13px;
    padding: 12px 20px;
    background:#7CB004;
    text-transform:capitalize;

}
.btn-on-car:hover{
    color:white;

}*/


/*//intro bg*/


/*about*/

.main-title {
    font-weight: bold;
    font-size: 40px;
}

.ethics-title {
    max-height: 300px;
    height: auto;
    width: 100%;
}


/*//about*/


/*fresh*/

.plate-rot-img {
    position: absolute;
    width: 400px;
    height: auto;
    max-height: 500px;
    top: calc(50% - 100px);
    left: -200px;
}

.bg-fresh {
    background: url(./assets/images/bg-clear-sm.jpg) repeat center;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    min-height: 300px;
}

.intro-sm-txt {
    font-size: 14px;
    font-weight: 600;
}

.fresh-bg {
    background-color: rgba(255, 255, 255, 0.3);
    min-height: 300px;
}

.ser-wrap {
    display: inline-block;
    margin: 10px;
}


/*//fresh*/


/*works*/

.wrap-stylecard {
    display: inline-flex;
}

.works-img {
    height: 230px;
    max-height: 500px;
    width: 45%;
}

.style-cardbody {
    width: 45%;
}


/*//works*/


/*plans and spinner*/

.spin-wrap {
    display: inline-flex;
}

.index-plan-bg {
    background: url(./assets/images/index-plan.jpg) no-repeat left top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}


/*card*/

.plan-title-c-abs {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
}

.plan-title-c-abs a {
    font-weight: bold;
}

.plan-title-c-abs a,
.plan-title-c-abs p {
    color: #7cb004 !important;
}

.plan-c-btn-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #7cb004;
    text-transform: uppercase;
    width: 70px;
}

.card-img-pos {
    height: 300px;
    width: 100%;
    max-height: 400px;
}

.index-c-price-pos {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.index-card {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.index-card-plans {
    -moz-box-shadow: 0 12px 24px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 12px 24px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 12px 24px 0px rgba(0, 0, 0, 0.4);
    transition: ease-in-out 3s;
}

.index-card-plans:hover img {
    transform: perspective(500px) translateZ(10px);
}

.card-img-bottom {}

.index-c-body {
    width: 100%;
    padding: 0px;
    border: 0px;
}

.wrap-card-txt {
    padding: 1.25rem 0.5rem;
}

.card-title {
    color: #1f1f1f;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.short-des {
    height: 80px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
}

.list-wrap-index-card {
    list-style-image: url(./assets/images/tickright-list.png);
    text-align: left;
    padding-left: 1.7rem;
    height: 110px;
}

.plan-menu-list {
    margin: 5% 0px;
}

.price-unit {
    text-transform: uppercase;
    margin-left: 2%;
}

.btn-card {
    width: 100%;
    background-color: #7eb004;
}


/*//card*/


/*//plans and spinner*/


/*move top arrow*/

.move-top {
    position: fixed;
    bottom: 4rem;
    right: 4%;
    z-index: 10;
    font-size: 30px;
    color: rgb(3, 166, 225);
}


/*//move top arrow*/

.help-fly-btn {
    color: white;
    background-color: rgb(3, 166, 225);
    border-radius: 5rem;
    position: fixed;
    bottom: 1rem;
    right: 4%;
    z-index: 10;
    font-size: 18px;
    border: 1px rgb(3, 166, 225) solid;
    text-transform: capitalize;
    transition: all 0.2s ease-in;
    text-align: center;
}

.help-fly-btn:hover {
    color: rgb(3, 166, 225);
    background-color: rgb(8, 45, 116);
}


/*journey wizard*/

.next-btn-wizzard {
    background-color: #7cb004;
    color: white;
}

.prev-btn-wizzard {
    background-color: lightgray;
    color: black;
}


/*//journey wizard*/


/*footer*/

.footer-bg {
    background-color: #e0e4e8;
}

.footer-txt li {
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
}

.footer-txt a {
    color: #999999;
}


/*//footer*/


/*copy right*/

.cpy-right {
    background: rgb(8, 45, 116);
}

.footer-txt {
    font-weight: 500;
    font-size: 15px;
}


/*//copy right*/


/*log_reg page*/

.login-body {
    color: #000;
    font-size: 18px;
    letter-spacing: 1px;
}

.nav-tabs .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #6d6363;
    text-transform: capitalize;
    border: 1px solid rgba(126, 176, 4, 0.4);
    border-bottom: 0px;
    border-radius: 0px;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #7eb004;
    border-color: #7eb004;
}

.log-item {
    width: 50%;
    text-align: center;
}

.log-content {
    border: 1px solid #7eb004;
    margin-bottom: 10%;
    padding: 0px 7%;
}


/*//log_reg page*/


/*plan detail*/

.bg-banner {
    background: url(./assets/images/taylor-kiser-Pw7st6DXLZQ-unsplah-sm.jpg) no-repeat center;
    background-size: cover;
    /* background-attachment: fixed; */
    background-size: cover;
    min-height: 350px;
    position: relative;
}

.tbl-bg {
    background: url(./assets/images/wheat-space.png) repeat-y;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    -ms-background-size: contain;
    width: 100%;
    margin-left: 3.3rem;
}

.table-gluten-plan-img {
    width: 100%;
    height: auto;
    max-height: 600px;
    margin: 2rem 0px;
}

.modal-dialog-style-plan-det {
    width: 90%;
    max-width: 90%;
}

.img-modal-menu {
    width: 100%;
    height: auto;
}

.main-banner-2 {
    /*background: url(../images/inner-bg.jpg) no-repeat right ;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     -ms-background-size: cover;
     min-height: 300px;
     position: relative;*/
    max-height: 200px;
    height: auto;
    width: 100%;
}

.banner-2-overlay {
    position: absolute;
    top: 14%;
    left: 0%;
    width: 35%;
    text-align: center;
    /* backdrop-filter: blur(15px);
    background-color: rgba(255,255, 255, 0.4); */
}

.banner-2-txt {
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
    text-transform: capitalize;
}

.breadcrumb-agile {
    box-shadow: 2px 3px 12px 1px rgba(0, 0, 0, 0.15);
}

.breadcrumb li a {
    color: rgb(3, 166, 225);
    font-weight: bold;
}

.breadcrumb li {
    letter-spacing: 1px;
    color: #000;
    font-size: 15px;
}

.side-cont {
    position: relative;
}


/*    .side-overlay{
        position: absolute;
        top:10%;
        left:2%;
    }*/

.side-bg-new {
    background: url(./assets/images/copy-delet-some-veg.png) repeat-y right;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
    position: relative;
    max-height: 600px;
    height: auto;
    width: 100%;
}

.feature-bg {
    background-color: rgba(119, 225, 3, 0.1);
    padding: 3%;
    background-attachment: fixed;
}

.feature-bg .fa-dot-circle {
    padding-right: 1%;
    color: rgb(8, 45, 116)/*rgb(253,129,3)*/
    ;
}

.fa-dot-circle {
    font-size: 12px;
}

.index-main-p .fa-dot-circle {
    color: #ffb734;
}

table.table-border thead {
    border-top: 2px solid rgb(255, 204, 48);
    border-bottom: 3px solid rgb(255, 204, 48);
}


/*//plan detail*/


/*monitor page*/

.week-item {
    width: 25%;
    text-align: center;
}

.day-tab {
    font-weight: 500;
    color: #ffb734;
}

.card-accordion {
    border: 1px solid rgba(126, 176, 4, 0.3);
}

#accordion-w1 .card-header {
    background-color: transparent;
}

.btn-accordion-edit {
    letter-spacing: 1px;
    font-size: 13px;
    padding: 5% 20%;
    border: 2px solid #ffb734;
    width: max-content;
    color: #ffb734;
    background-color: white;
}

.btn-accordion-save {
    letter-spacing: 1px;
    font-size: 13px;
    padding: 1rem;
    border: 2px solid rgb(3, 166, 225);
    width: 5rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(3, 166, 225);
}

.txtarea-edit {
    height: 50px;
    width: 100%;
}

.bg-banner-manage {
    background: url(./assets/images/601053-PMYTRV-353-sm.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 200px;
    position: relative;
}

.overlay-on-img-manage {
    position: absolute;
    top: 14%;
    left: 0%;
    width: 20rem;
    text-align: center;
    backdrop-filter: blur(15px);
}

.no-menu {
    margin-left: 10px;
    font-size: 1.4rem;
}

.freeze-btn {
    background: #7cb004;
    border-color: #7cb004;
    color: white;
}

.freeze-btn:hover {
    background: white;
    color: #7cb004;
    border-color: #7cb004;
}


/*//monitor page*/


/*review pg*/


/*cart page*/

.cart-view-pro {
    width: 100%;
    border-width: 0px;
    text-transform: capitalize;
}

.cart-view-title {
    font-size: 20px;
}

.cart-view-pro-img {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
}

.cart-view-pro-name {
    font-size: 16px;
}

.det-cart-pg {
    font-size: 14px;
    color: rgba(51, 26, 78, 0.6);
}

.cart-view-li-style {
    padding: 5% 0px;
}

.quantity-cart-pg {
    width: 90%;
}

.promo-code {
    font-size: 16px;
    text-decoration: underline;
}

.promo-code:hover {
    color: #ffb734;
    opacity: 0.8;
}

.promo-btn {
    background-color: transparent;
    border-radius: 0;
    border-color: #7eb004;
    color: #7eb004;
}

.ds-block {
    display: block;
}

.shopping-n-btn {
    font-size: 19px;
    color: #7eb004;
    text-align: center;
    border: 1px solid #7eb004;
    transition: 0.5s ease-in-out;
}

.shopping-n-btn:hover {
    color: white;
    background-color: #7cb004;
}


/*//review pg*/


/*feedback*/

.fa-star {
    color: #e4b248;
}

.fans-card {
    border-width: 1px;
}


/*//feedback*/


/*faq's
.header-faq{
    background-color:#f8f9fa;
}*/

.bg-banner-faq {
    background: url(./assets/images/394960-PCH23B-421-sm-bg.jpg) no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 200px;
    position: relative;
}


/*//faq's*/


/*recover account pg*/

.checkout-nav-bg {
    background-color: white;
    padding: 4%;
    border-bottom: 1px solid rgba(18, 18, 18, 0.15);
}

.nav-checkout {
    color: rgba(18, 18, 18, 0.5);
}

.checkoutnav-brand-style {
    font-size: 2vw;
    text-transform: uppercase;
}

.checkout-nav-bg .navbar-nav .nav-link {
    font-size: 14px;
    padding: 0 15px;
    text-transform: capitalize;
    color: black;
    text-align: center;
    text-transform: capitalize;
    transition: 0.15s ease-in-out;
    text-decoration: underline;
}

.checkout-nav-bg .navbar-nav .nav-link:hover {
    color: darkgray;
}

.content-recover-bg {
    background-image: url(./assets/images/3752208sm.jpg);
    width: 100%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.form-recover-bg {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    margin-top: 2rem;
    backdrop-filter: blur(10px);
}


/*//recover account pg*/


/*succeful pg*/

.journey-btn-n-form,
.later-journey-n-form:hover {
    transition: 0.2s ease-in-out;
    color: white;
    background-color: rgb(3, 166, 225);
    border: 2px solid rgb(3, 166, 225);
    border-radius: 1.4rem;
}

.later-journey-n-form,
.journey-btn-n-form:hover {
    border: 2px solid rgb(3, 166, 225);
    border-radius: 1.4rem;
    color: rgb(3, 166, 225);
    background-color: white;
    transition: 0.2s ease-in-out;
}

.resend-link a {
    color: rgb(3, 166, 225);
}

.resend-link a:hover {
    color: white;
}


/*//successful pg*/


/*profile tab*/

.bg-checkout-pg-cart-summary {
    font-family: secontfont, sans-serif;
    text-transform: capitalize;
    padding: 2%;
}

.ordersummary-checkout-wrap {
    overflow-y: scroll;
    height: 160px;
    padding: 0px 10px;
}

.border-b-checkout-pg {
    border-bottom: 1px solid rgba(18, 18, 18, 0.15);
}

.edit-order-checkout {
    text-decoration: underline;
    cursor: pointer;
}

.checkoutpg-cart-detail-img {
    height: 65px;
    width: 65px;
    min-width: 50px;
    min-height: 50px;
}

.font-14 {
    font-size: 14px;
}

.bg-light-cart-summary {
    background-color: #f5f5f5;
}

.ship-det-title {
    color: #7cb004;
    font-size: 26px;
    font-family: secondfont, sans-serif;
    text-transform: capitalize;
}

.ship-details-det {
    font-size: 16px;
    color: rgba(18, 18, 18, 0.6);
}

.step-sec-wrap {
    margin-bottom: 3rem;
}

.success-p-wrap p {
    text-align: center;
    color: #7cb004;
}

.profile-tab-btn {
    background-color: rgb(3, 166, 225);
    color: white;
    width: 100%;
}


/*//profile tab*/


/*conact pg*/

textarea {
    resize: none;
}


/*//contact pg*/


/*questionnaire pg*/

.checkboxex-style {
    padding-left: 1.5rem !important;
}

.questionnaire-bg {
    background-image: url(./assets/images/3752208sm.jpg);
    width: 100%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fa-check-circle {
    color: #7cb004;
}

.fa-times-circle {
    color: red;
}


/*//questionnaire pg*/


/*font color*/

.white-txt {
    color: white !important;
}

.darkgray-txt {
    color: #000 !important;
}

.blue-txt {
    color: rgb(8, 45, 116) !important;
}

.orange-txt {
    color: #ffb734 !important;
}

.green-txt {
    color: #7eb004 !important;
}

.gray-txt {
    color: #999;
}

.red-txt {
    color: red !important;
}


/*//font color*/


/*font family*/

.secfont {
    font-family: secfont, sans-serif;
    letter-spacing: 1px;
}


/*responsive*/

@media (max-width: 992px) {
    .hide-md {
        display: none;
    }
    .tbl-bg {
        margin-left: 0px;
    }
}

@media (max-width: 575.98px) {
    .plate-rot-img {
        left: -66%;
        top: -16%;
    }
    .overlay-on-img,
    .overlay-on-img-third {
        width: 90%;
    }
    .overlay-on-img-sec {
        top: 41%;
        left: 5%;
        width: 90%;
    }
    .banner-2-overlay {
        width: 100%;
    }
    .help-fly-btn,
    .move-top {
        right: 20%;
    }
    .main-title {
        font-size: 28px;
    }
}

.fixed-position {
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.body-padding {
    padding-top: 163px;
}

.x-padding {
    padding-top: 98px;
}

@media screen and (max-width: 768px) {
    .body-padding {
        padding-top: 0px;
    }
}