<app-sec-navbar></app-sec-navbar>
    <!--content-->
          <!--background-->
          <div class="content-recover-bg">  
         
            <div class="row no-gutters justify-content-center">
               <div class="col-sm-6">
                   <div class="form-recover-bg">
                         <div class="row d-flex justify-content-center " >
                            <h3 class="orange-txt text-center my-4 text-capitalize"><span class="green-txt">Success.</span>Your account is ready to use</h3> 
                            <div class="success-p-wrap green-txt"> 
                               <p>check your profile at any time.manage your plans.</p>
                               <p>need guidance start journy and contact with our nutrition specialists </p>
                            </div>
                         </div>
                         <div class="row mt-4 d-flex justify-content-end">
                            <div class="col-sm-4">                        
                              <a  routerLink="/reg-login"  class="btn  journey-btn-n-form ">Go to login</a>
                            </div>
                        </div>
                   </div>    
               </div>   
             </div> 
          </div>
             <!--//content-->  