<form method="post" (ngSubmit)="freezingPlan()" #objFreezePlan="ngForm">
    <div class="row justify-content-center my-4 mx-0" style="text-align: center;">
      <div class="col-sm-4">
         <div class="form-group">
          <label for="startfreeze">from:</label><br>
          <input type="date" name="from" ngModel min="{{minDate}}" max="{{maxDate}}" required>
         </div>
     </div>
     <div class="col-sm-4">
       <div class="form-group">
        <label for="endfreeze">to:</label><br>
        <input type="date" name="to" ngModel min="{{minDate}}" max="{{maxDate}}" required>
       </div>
     </div>
   </div>
   <div class="row justify-content-center mx-0">
   <button type="submit" class="btn shadow freeze-btn" [disabled]=!objFreezePlan.valid>

    <div *ngIf="freezeSpn == false" >Freeze</div>

    <div *ngIf="freezeSpn == true" class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

  </button>
   </div>      
</form>