<app-sec-navbar></app-sec-navbar>
   <!--content-->
          <!--background-->
          <div class="content-recover-bg">  
         
            <div class="row no-gutters justify-content-center">
               <div class="col-sm-6">
                  <form class="form-recover-bg" (ngSubmit)="ResetPassword()" #objPassword="ngForm">
                  <h3 class="green-txt text-center py-3 text-uppercase">new password</h3> 
                    <div class="form-group">
                      <label for="recoverpassword">New Password</label>
                      <input type="password" id="recoverpassword" name="password" 
                        ngModel required class="form-control" placeholder="password">
                    </div> 
                    <div class="form-group">
                      <label for="confirmrecoverpassword">Confirm New Password</label>
                      <input type="password" id="confirmrecoverpassword" name="confirm_password" 
                        ngModel required class="form-control" placeholder="confirm password">
                    </div> 
                    <div class="form-group d-flex justify-content-end">
                       <button type="submit" class="btn stand-btn" [disabled]=!objPassword.valid>

                         <div class="text-center" *ngIf="resetSpn == true">
                           <div class="spinner-border" role="status">
                             <span class="sr-only">Loading...</span>
                           </div>
                         </div>

                         <span *ngIf="resetSpn == false">Save</span>
                       </button>
                    </div>
                  </form>    
               </div>   
             </div> 
          </div>
             <!--//content-->  