.bg-banner-manage {
    min-height: 300px;
}
.goback {
    padding: 13px 10px;
    background-color: #7eb004;
    color: white;
    border-radius: 14px;
    margin: 6px 0px;
    a {
        color: white;
    }
}
.bk-transparent{
    background-color: transparent !important;
}
