<ngx-spinner></ngx-spinner>
<!-- <app-main-navbar class="fixed-position"></app-main-navbar> -->
<!--banner-->
<div class="bg-banner-manage">
    <div class="row  p-0">

        <div class="overlay-on-img-manage">
            <p class="topText uppercase-text green-txt">Manage your<span class="orange-txt secfont"> Plan
                </span></p>
        </div>
    </div>

</div>

<!--//banner-->
<!--crumb-->
<div class="row no-gutters bg-light breadcrumb-agile">
    <div class=" px-0 col-sm-5">
        <div class="  py-2">
            <ol class="breadcrumb bk-transparent m-0">
                <li class="breadcrumb-item">
                    <a routerLink="">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Manage your Plan</li>
            </ol>
        </div>
    </div>
    <div class="goback">
        <a href="http://uttrition-test.azurewebsites.net/public/admin/normalUserProfile">Back to dashboard</a>
    </div>
</div>
<!--//crumb-->

<!--main tabs-->
<ul class="nav my-4 nav-tabs justify-content-center" id="myTabmenu" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Profile</a>
    </li>

    <li class="nav-item" role="presentation">
        <a class="nav-link " id="menu-tab" data-toggle="tab" href="#menu" role="tab" aria-controls="menu"
            aria-selected="true">menu</a>
    </li>
    <!--  -->
    <li class="nav-item" role="presentation"
        *ngIf="freezePlan == null && planAssLength != 0 && showLoadingSpinForSbMenu == false">
        <a class="nav-link" id="freeze-tab" data-toggle="tab" href="#freeze" role="tab" aria-controls="freeze"
            aria-selected="false">freeze</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="renew-tab" data-toggle="tab" href="#renew" role="tab" aria-controls="renew"
            aria-selected="false">renew</a>
    </li>

    <li class="nav-item" role="presentation">
        <a class="nav-link" id="submitplan-tab" data-toggle="tab" href="#submitplan" role="tab"
            aria-controls="submitplan" aria-selected="false">submit plan</a>
    </li>
    
</ul>

<div class="tab-content" id="myTabmenuContent">

    <!--menu tab-->
    <div class="tab-pane fade" id="menu" role="tabpanel" aria-labelledby="menu-tab">
        <app-user-menu></app-user-menu>
    </div>
    <!--      freeze tab  -->
    <div *ngIf="freezePlan == null && planAssLength != 0 && showLoadingSpinForSbMenu == false"
        class="tab-pane fade text-capitalize" id="freeze" role="tabpanel" aria-labelledby="freeze-tab">
        <app-freeze-user-menu></app-freeze-user-menu>

    </div>


    <!--renew tab-->

    <div class="tab-pane fade" id="renew" role="tabpanel" aria-labelledby="renew-tab">
        <app-renew-user-menu></app-renew-user-menu>
    </div>


    <!--submit-->


    <div class="tab-pane fade" id="submitplan" role="tabpanel" aria-labelledby="submitplan-tab">
        <app-submit-user-menu></app-submit-user-menu>
    </div>
    <!--//submit-->


    <!-- profile  -->
    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="submitplan-tab">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <h3 class=" pl-3 my-4 green-txt">
                        <span class="text-uppercase ">personal information
                        </span>
                    </h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <form>
                                <div class="form-group row">
                                    <label for="name-n-profile" class="col-sm-2 col-form-label">Name:</label>
                                    <div class="col-sm-10">
                                        <input type="text" [(ngModel)]="user.name" name="name" disabled
                                            class="form-control-plaintext" id="name-n-profile" readonly>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email-n-profile" class="col-sm-2 col-form-label">Email:</label>
                                    <div class="col-sm-10">
                                        <input type="email" [(ngModel)]="user.email" name="email" disabled
                                            class="form-control-plaintext" id="email-n-profile" readonly>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="phone-n-profile" class="col-sm-2 col-form-label">Phone:</label>
                                    <div class="col-sm-10">
                                        <input type="text" [(ngModel)]="user.phone" name="phone" class="form-control"
                                            id="phone-n-profile" readonly>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                <label for="pass-n-profile" class="col-sm-2 col-form-label">Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" [(ngModel)]="user.password" name="password" value="" class="form-control" id="pass-n-profile">
                                </div>
                            </div> -->
                            </form>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <h3 class=" pl-3 my-4 green-txt">
                        <span class="text-uppercase ">delivery information
                        </span>
                    </h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p>Address</p>

                            <!-- <div class="row py-5 no-gutters justify-content-center"
                                *ngIf="showLoadingSpinForSbMenu == true">
                                <div class="spin-wrap green-txt">
                                    <div class="spinner-border " role="status">
                                    </div>
                                    <span class="pl-3">
                                        <h3>Loading...</h3>
                                    </span>
                                </div>
                            </div> -->
                            <div class="form-group row" *ngFor="let obj of userAddress; let i = index">
                                <div class="col-sm-2  green-txt">
                                    <input type="text" class="form-control" [(ngModel)]="obj.address_name" readonly>
                                </div>
                                <div class="col-sm-8 v-center">
                                    <input type="text" class="form-control" [(ngModel)]="obj.address" readonly>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="card">
                    <h3 class=" pl-3 my-4 green-txt">
                        <span class="text-uppercase ">medical information
                        </span>
                    </h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <form>
                                <div class="form-row">
                                    <div class="form-group checkboxex-style width100">
                                        <label>Do you have any medical condition:</label><br>
                                        <label>medical condition:</label><br>
                                        <div class="row" *ngIf="user_q != null">
                                            <div class="col-3" *ngFor="let item of medicalcondition">
                                                <p class="mfont">{{item}}</p>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="user_q == null">
                                            <div class="col-md-12">
                                                <p class="mfont">There is no medical conditions</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="form-row">
                                    <div class="form-group col-md-6 checkboxex-style">
                                        <label>Food causes Allergy:</label><br>
                                        <div class="row" *ngIf="user_q != null" >
                                            <div class="col-3" *ngFor="let item of foodAllergyArr">
                                                <p class="mfont">{{item}}</p>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="user_q == null">
                                            <div class="col-md-12">
                                                <p class="mfont">There is no food causes Allergy</p>
                                            </div>
                                        </div>
                                        <!-- <p>{{ allergyMessage }}</p>
                                    <div *ngIf = "foodAllergy.eggs == 'yes'" class="ds-block">
                                        <i class="far fa-check-circle"></i>
                                        <label>eggs</label>
                                    </div>
                                    <div *ngIf = "foodAllergy.Dairy == 'yes'" class="ds-block">
                                        <i class="far fa-check-circle"></i>
                                        <label>Dairy</label>
                                    </div>
                                    <div *ngIf = "foodAllergy.Gluten == 'yes'" class="ds-block">
                                        <i class="far fa-check-circle"></i>
                                        <label>Gluten</label>
                                    </div>
                                    <div *ngIf = "foodAllergy.nuts == 'yes'" class="ds-block">
                                        <i class="far fa-check-circle"></i>
                                        <label>nuts</label>
                                    </div>
                                    <div *ngIf = "foodAllergy.fish == 'yes'" class="ds-block">
                                        <i class="far fa-check-circle"></i>
                                        <label>fish</label>
                                    </div>
                                    <div *ngIf = "foodAllergy.Seashell == 'yes'" class="ds-block">
                                        <i class="far fa-check-circle"></i>
                                        <label>Seashell</label>
                                    </div>
                                    <div *ngIf = "foodAllergy.otherAllergy == 'yes'" class="ds-block">
                                        <label for="allergy7">other,please specify </label>
                                        <input type="text" class="form-control" disabled
                                        value="{{ foodAllergy.otherAllergy }}" name="otherAllergy">
                                    </div> -->
                                    </div>

                                </div>

                            </form>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//main tabs -->

<!-- <app-footer></app-footer> -->